Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-07, with the labels that each got.

#531 add fixture 'dts/scena-led-150'
  fixtures/dts/scena-led-150.json
  fixtures/register.json
Labels: new-fixture, via-editor

#533 Fix manual URLs
  fixtures/adb/alc4.json
  fixtures/adb/europe-105.json
  fixtures/adb/warp-m.json
  fixtures/jb-lighting/varyscan-p7.json
Labels: component-fixture

#535 Add color-hex format in schemas
  schemas/definitions.json
  tests/fixture-valid.js
Labels: component-schema

#538 Add matrix to Martin MAC Viper AirFX
  fixtures/martin/mac-viper-airfx.json
  fixtures/register.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: component-fixture

#539 Improve Prolights DIAMOND19
  fixtures/prolights/diamond19.json
Labels: component-fixture

#540 Improve Robe Robin 600E Spot
  fixtures/robe/robin-600e-spot.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: component-fixture

#537 add fixture 'martin/mac-700-wash'
  fixtures/kam/gobotracer.json
  fixtures/martin/mac-700-wash.json
  fixtures/register.json
Labels: new-fixture, via-editor

#543 Improve pull request generation backend
  lib/create-github-pr.js
  tests/fixture-valid.js
  ui/ajax/add-fixtures.js
Labels: component-editor

#545 Add fixture 'ayrton/magicblade-fx'
  fixtures/ayrton/magicblade-fx.json
  fixtures/manufacturers.json
  fixtures/register.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture, via-editor

#548 Add JSDoc comments to export plugins
  plugins/ecue/export.js
  plugins/qlcplus_4.11.2/export.js
Labels: component-plugin, documentation

#550 Improve BoomtoneDJ Xtrem LED colors
  fixtures/boomtonedj/xtrem-led.json
  fixtures/register.json
Labels: component-fixture

#549 Add fixture 'laserworld/cs-1000rgb'
  fixtures/laserworld/cs-1000rgb.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#551 Fix sound sensitivity capability type in cameo Hydrabeam 300 RGBW
  fixtures/cameo/hydrabeam-300-rgbw.json
  fixtures/register.json
Labels: component-fixture

#552 Improve GitHub export diff test
  lib/diff-plugin-outputs.js
  tests/github/export-diff.js
Labels: component-test, type-bug

#553 Add fixture 'american-dj/inno-pocket-fusion'
  fixtures/american-dj/inno-pocket-fusion.json
  fixtures/register.json
  lib/create-github-pr.js
Labels: new-fixture, via-editor
