Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-03, with the labels that each got.

#440 add fixture 'stairville/led-flood-panel-150'
  fixtures/register.json
  fixtures/stairville/led-flood-panel-150.json
Labels: new-fixture, via-editor

#441 Cherry pick changes from longstanding PRs
  .eslintrc.json
  Makefile
  cli/export-fixture.js
  cli/import-fixture.js
  cli/make-dereferenced-schemas.js
  cli/make-plugin-data.js
  cli/run-export-test.js
  lib/model/Capability.mjs
  lib/model/Channel.mjs
  lib/model/Fixture.mjs
  lib/schema-properties.js
  main.js
  package.json
  plugins/plugins.js
  plugins/plugins.json
  schemas/capability.json
  schemas/channel.json
  schemas/definitions.json
  schemas/dereferenced/capability.json
  schemas/dereferenced/channel.json
  schemas/dereferenced/definitions.json
  schemas/dereferenced/fixture.json
  schemas/fixture.json
  tests/github/export-diff.js
  tests/github/exports-valid.js
  views/pages/index.js
  views/pages/single_fixture.js
Labels: component-model, component-schema, component-test

#446 add fixture 'chauvet-dj/corepar-uv-usb'
  fixtures/chauvet-dj/corepar-uv-usb.json
  fixtures/coemar/prospot-250-lx.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#449 Update eslint to version 4.19.0
  fixtures/martin/atomic-3000.json
  fixtures/martin/roboscan-812.json
  lib/fixture-features/matrices.js
  package.json
Labels: difficulty-easy, greenkeeper

#454 add fixture 'chauvet-dj/slimpar-t12-bt'
  fixtures/chauvet-dj/slimpar-t12-bt.json
  fixtures/register.json
Labels: new-fixture, via-editor

#455 add fixture 'chauvet-dj/slimpar-q12-bt'
  fixtures/chauvet-dj/slimpar-q12-bt.json
  fixtures/register.json
Labels: new-fixture, via-editor

#456 Move OFL to new website
  .gitignore
  README.md
  app.json
  docs/README.md
  docs/environment-variables.md
  docs/ui.md
  package.json
  plugins/d-light/README.md
  server/ecosystem.config.js
  server/webhook.js
  ui/pages/about.vue
Labels: component-ui

#458 add fixture 'adb/warp-m'
  fixtures/adb/warp-m.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#459 update "About" page's history section
  ui/pages/about.vue
Labels: component-ui
