Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-11, with the labels that each got.

#657 Add fixture 'american-dj/saber-spot-rgbw'
  fixtures/american-dj/saber-spot-rgbw.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#658 Add fixture 'prolights/v700spot'
  fixtures/prolights/v700spot.json
  fixtures/register.json
Labels: new-fixture, via-editor

#660 Add fixture 'solena/max-par-20'
  fixtures/register.json
  fixtures/solena/max-par-20.json
Labels: new-fixture, via-editor

#661 Add fixture 'lightmaxx/easy-wash-quad-led'
  fixtures/lightmaxx/easy-wash-quad-led.json
  fixtures/register.json
Labels: new-fixture, via-editor

#663 Add fixture 'showtec/club-par-12-4-rgbw'
  fixtures/register.json
  fixtures/showtec/club-par-12-4-rgbw.json
Labels: new-fixture, via-editor

#665 Add fixture 'infinity/iw-340-rdm'
  fixtures/infinity/iw-340-rdm.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#668 Fix cameo manual URLs
  fixtures/cameo/flat-pro-18.json
  fixtures/cameo/hydrabeam-100.json
  fixtures/cameo/hydrabeam-300-rgbw.json
  fixtures/cameo/nanospot-120.json
  fixtures/cameo/outdoor-par-tri-12.json
  fixtures/cameo/thunder-wash-100-rgb.json
  fixtures/cameo/thunder-wash-100-w.json
  fixtures/cameo/thunder-wash-600-rgb.json
  fixtures/cameo/thunder-wash-600-w.json
Labels: component-fixture, type-bug

#669 Fix 3.5mm stereo jack DMX connector in QLC+ exports
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.11.2/import.js
  plugins/qlcplus_4.12.0/export.js
Labels: component-plugin, type-bug

#667 Add fixture 'eurolite/led-h2o'
  fixtures/eurolite/led-h2o.json
  fixtures/register.json
Labels: new-fixture, via-editor

#671 Add fixture 'epsilon/duo-q-beam-bar'
  fixtures/epsilon/duo-q-beam-bar.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#674 Fix model handling of percentage highlight values
  lib/model/CoarseChannel.mjs
Labels: component-model, priority-high, type-bug

#672 Add fixture 'dedolight/dled'
  fixtures/dedolight/dled4-bi.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#673 Add fixture 'shehds/led-flat-par-12x3w-rgbw'
  fixtures/manufacturers.json
  fixtures/register.json
  fixtures/shehds/led-flat-par-12x3w-rgbw.json
Labels: new-fixture, via-editor

#670 Make channel type inference more flexible
  lib/model/CoarseChannel.mjs
Labels: component-model

#675 Add fixture 'martin/rush-par-2-rgbw-zoom'
  fixtures/martin/rush-par-2-rgbw-zoom.json
  fixtures/register.json
Labels: new-fixture, via-editor

#677 Add fixture 'contest/irledflat-5x12SIXb'
  fixtures/contest/irledflat-5x12SIXb.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#676 Add fixture 'chauvet-dj/freedom-h1'
  fixtures/chauvet-dj/freedom-h1.json
  fixtures/register.json
Labels: new-fixture, via-editor

#679 Update Gruft Pixel Tube
  fixtures/gruft/pixel-tube.json
  fixtures/register.json
Labels: component-fixture

#680 Improve QLC+ export for inverted Intensity channels
  plugins/qlcplus_4.12.0/export.js
Labels: component-plugin

#685 Remove helpWanted messages for two moving heads
  fixtures/eurolite/led-tmh-x12.json
  fixtures/infinity/iw-340-rdm.json
  fixtures/register.json
Labels: component-fixture

#682 Add fixture 'nicols/pat-252'
  fixtures/nicols/pat-252.json
  fixtures/register.json
Labels: new-fixture, via-editor

#690 Add fixture 'glp/impression-fr1'
  fixtures/glp/impression-fr1.json
  fixtures/register.json
Labels: new-fixture, via-editor

#692 Various fixture fixes
  fixtures/american-dj/fog-fury-jett-pro.json
  fixtures/manufacturers.json
  fixtures/minuit-une/ivl-carre.json
  fixtures/register.json
  fixtures/showtec/club-par-12-4-rgbw.json
  fixtures/showtec/dominator.json
  fixtures/showtec/horizon-8.json
  fixtures/showtec/kanjo-spot-60.json
  fixtures/showtec/kanjo-wash-rgb.json
  fixtures/showtec/led-light-bar-rgb-v3.json
  fixtures/showtec/phantom-140-led-spot.json
  fixtures/showtec/phantom-50-led-spot.json
  fixtures/showtec/pixel-bar-12-mkii.json
  fixtures/showtec/sunraise-led.json
  fixtures/showtec/sunstrip-active-mkii.json
  fixtures/showtec/xs-1-rgbw.json
Labels: component-fixture, type-bug

#689 Add fixture 'showtec/atmos-2000'
  fixtures/register.json
  fixtures/showtec/atmos-2000.json
Labels: new-fixture, via-editor

#691 Add fixture 'robert-juliat/d-coupe-613-sx'
  fixtures/manufacturers.json
  fixtures/register.json
  fixtures/robert-juliat/613sx.json
Labels: new-fixture, via-editor

#696 Fix failing GitHub API client
  tests/github/pull-request.js
Labels: component-test, priority-high, type-bug

#695 Add cameo Steam Wizard fixtures
  fixtures/cameo/steam-wizard-1000.json
  fixtures/cameo/steam-wizard-2000.json
  fixtures/register.json
Labels: new-fixture, via-editor

#699 Replace taken down video
  fixtures/lixada/mini-gobo-moving-head-light.json
Labels: component-fixture
