Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-08, with the labels that each got.

#555 Update pan / tilt information for ADJ Inno Pocket Fusion
  fixtures/american-dj/inno-pocket-fusion.json
  fixtures/register.json
Labels: component-fixture

#556 Enable embetty-server at embetty.open-fixture-library.org
  package.json
  server/ecosystem.config.js
  server/nginx-site-available
Labels: component-server

#554 Add fixture 'american-dj/flat-par-qa12xs'
  fixtures/american-dj/flat-par-qa12xs.json
  fixtures/register.json
Labels: new-fixture, via-editor

#558 Improve switching channels UI
  lib/model/Range.mjs
  ui/assets/styles/style.scss
  ui/components/fixture-capability-table.vue
  ui/components/fixture-channel.vue
Labels: component-model, component-ui

#561 Add fixture 'clay-paky/spheriscan'
  fixtures/clay-paky/spheriscan.json
  fixtures/register.json
  tests/test-fixtures.json
  tests/test-fixtures.md
  ui/components/fixture-channel.vue
  ui/components/labeled-value.vue
Labels: new-fixture, via-editor

#562 UI fixes
  ui/components/editor-capability.vue
  ui/components/fixture-channel.vue
  ui/components/labeled-input.vue
  ui/components/labeled-value.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: component-ui, priority-high, type-bug

#563 Editor: Guess capability type out of channel name
  ui/components/editor-capabilities/ColorPreset.vue
  ui/components/editor-capabilities/ColorTemperature.vue
  ui/components/editor-capabilities/ColorWheelIndex.vue
  ui/components/editor-capabilities/Fog.vue
  ui/components/editor-capabilities/FogOutput.vue
  ui/components/editor-capabilities/FogType.vue
  ui/components/editor-capabilities/FrostEffect.vue
  ui/components/editor-capabilities/GoboIndex.vue
  ui/components/editor-capabilities/GoboShake.vue
  ui/components/editor-capabilities/IrisEffect.vue
  ui/components/editor-capabilities/SoundSensitivity.vue
  ui/components/editor-channel-dialog.vue
  ui/components/property-input-text.vue
Labels: component-editor

#574 Better handle import plugin data
  fixtures/abstract/twister-4.json
  fixtures/american-dj/galaxian-3d.json
  fixtures/clay-paky/sharpy.json
  fixtures/eliminator/stealth-beam.json
  fixtures/jb-systems/twin-effect-laser.json
  fixtures/qtx/lux-ld30w.json
  fixtures/robe/robin-600e-spot.json
  tests/fixture-valid.js
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: component-editor, component-fixture, component-test, difficulty-easy

#575 Call export tests with file object instead of file content
  cli/run-export-test.js
  docs/plugins.md
  plugins/d-light/export.js
  plugins/d-light/exportTests/attributes-correctness.js
  plugins/ecue/README.md
  plugins/ecue/export.js
  plugins/millumin/README.md
  plugins/millumin/export.js
  plugins/millumin/exportTests/json-schema-conformity.js
  plugins/ofl/export.js
  plugins/qlcplus_4.11.2/README.md
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.11.2/exportTests/xsd-schema-conformity.js
  tests/github/exports-valid.js
Labels: component-plugin, component-test, difficulty-easy, type-refactoring

#577 Add product pages for Chauvet DJ fixtures
  fixtures/chauvet-dj/corepar-uv-usb.json
  fixtures/chauvet-dj/gigbar-2.json
  fixtures/chauvet-dj/slimpar-pro-h-usb.json
  fixtures/chauvet-dj/slimpar-pro-qz12.json
  fixtures/chauvet-dj/slimpar-pro-w.json
  fixtures/chauvet-dj/slimpar-q12-bt.json
  fixtures/chauvet-dj/slimpar-t12-bt.json
  fixtures/chauvet-dj/washfx.json
  fixtures/register.json
Labels: component-fixture, difficulty-easy

#579 Add fixture 'cameo/zenit-w600'
  fixtures/cameo/zenit-w600.json
  fixtures/register.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
Labels: new-fixture, via-editor

#580 Various fixes
  fixtures/clay-paky/spheriscan.json
  fixtures/glp/impression-spot-one.json
  fixtures/showtec/phantom-140-led-spot.json
  ui/components/editor-physical.vue
Labels: component-fixture, difficulty-easy, type-bug

#585 Fix tests and register generation
  cli/make-register.js
  fixtures/register.json
  lib/create-github-pr.js
  tests/fixture-valid.js
Labels: component-test, type-bug

#586 Add QLC+ forum link to ADJ Inno Pocket Fusion
  fixtures/american-dj/inno-pocket-fusion.json
Labels: component-fixture

#587 New fixture categories "Pixel Bar" and "Stand"
  fixtures/adb/alc4.json
  fixtures/american-dj/revo-sweep.json
  fixtures/ayrton/magicblade-fx.json
  fixtures/chauvet-dj/gigbar-2.json
  fixtures/chroma-q/color-force-ii-12.json
  fixtures/chroma-q/color-force-ii-48.json
  fixtures/chroma-q/color-force-ii-72.json
  fixtures/equinox/gigabar.json
  fixtures/eurolite/led-kls-801.json
  fixtures/glp/impression-x4-bar-10.json
  fixtures/glp/jdc1.json
  fixtures/nicols/led-bar-123-fc-ip.json
  fixtures/orion/orcan2.json
  fixtures/register.json
  fixtures/showtec/led-light-bar-rgb-v3.json
  fixtures/showtec/pixel-bar-12-mkii.json
  fixtures/venue/tristrip3z.json
  plugins/millumin/export.js
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.12.0/export.js
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
  tests/fixture-valid.js
  ui/assets/icons/categories/pixel-bar.svg
  ui/assets/icons/categories/stand.svg
  ui/assets/icons/icons.mjs
Labels: component-fixture, component-schema

#588 Refactor fixture-valid test
  tests/fixture-valid.js
Labels: component-test, documentation, type-refactoring

#589 Fix README badges
  README.md
Labels: documentation

#590 Fix and improve RDM lookup page
  ui/pages/rdm.vue
Labels: component-ui, type-bug

#591 Fix QLC+ 4.11.2 plugin import still creating fixtures as "qlcplus"
  plugins/qlcplus_4.11.2/import.js
Labels: component-plugin, type-bug

#593 Promisify all the things!
  .eslintrc.json
  cli/export-fixture.js
  cli/import-fixture.js
  cli/make-test-fixtures.js
  cli/run-export-test.js
  docs/plugins.md
  lib/create-github-pr.js
  lib/diff-plugin-outputs.js
  main.js
  package.json
  plugins/d-light/export.js
  plugins/d-light/exportTests/attributes-correctness.js
  plugins/ecue/export.js
  plugins/ecue/import.js
  plugins/millumin/export.js
  plugins/millumin/exportTests/json-schema-conformity.js
  plugins/ofl/export.js
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.11.2/exportTests/xsd-schema-conformity.js
  plugins/qlcplus_4.11.2/import.js
  plugins/qlcplus_4.12.0/export.js
  plugins/qlcplus_4.12.0/exportTests/fixture-tool-validation.js
  plugins/qlcplus_4.12.0/exportTests/xsd-schema-conformity.js
  server/webhook.js
  tests/fixtures-valid.js
  tests/github/export-diff.js
  tests/github/exports-valid.js
  tests/http-status.js
  ui/ajax/add-fixtures.js
Labels: component-plugin, documentation, type-refactoring
