Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-09, with the labels that each got.

#597 Fix create-github-pr script
  lib/create-github-pr.js
Labels: component-editor, priority-high, type-bug

#598 Switch from node-zip to jszip dependency
  lib/diff-plugin-outputs.js
  main.js
  package.json
Labels: type-refactoring

#600 Editor fixes
  ui/components/editor-channel-dialog.vue
Labels: component-editor, type-bug

#599 Make HTTP status test a bit faster
  tests/http-status.js
Labels: component-test

#601 Suggest channel names in editor using <datalist>
  ui/assets/styles/style.scss
  ui/components/editor-channel-dialog.vue
Labels: component-editor

#594 Specify channel's DMX value resolution
  .travis.yml
  cli/import-fixture.js
  docs/fixture-format.md
  fixtures/clay-paky/spheriscan.json
  fixtures/elation/platinum-hfx.json
  fixtures/elation/platinum-spot-15r-pro.json
  fixtures/glp/impression-spot-one.json
  fixtures/jb-lighting/varyscan-p7.json
  fixtures/martin/mac-700-wash.json
  fixtures/martin/rush-mh-3-beam.json
  fixtures/martin/rush-mh-7-hybrid.json
  fixtures/minuit-une/ivl-carre.json
  fixtures/robe/colorspot-2500e-at.json
  fixtures/robe/robin-600e-spot.json
  lib/model/Capability.mjs
  lib/model/Channel.mjs
  lib/model/FineChannel.mjs
  lib/model/Mode.mjs
  lib/model/SwitchingChannel.mjs
  lib/scale-dmx-values.js
  plugins/d-light/export.js
  plugins/ecue/export.js
  plugins/millumin/export.js
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.11.2/import.js
  plugins/qlcplus_4.12.0/export.js
  schemas/capability.json
  schemas/channel.json
  schemas/definitions.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
  tests/dmx-value-scaling.js
  tests/fixture-valid.js
  ui/ajax/add-fixtures.js
  ui/assets/scripts/editor-utils.mjs
  ui/components/editor-capability-wizard.vue
  ui/components/editor-capability.vue
  ui/components/editor-channel-dialog.vue
  ui/components/editor-mode.vue
  ui/components/fixture-capability-table.vue
  ui/components/fixture-channel.vue
  ui/components/property-input-entity.vue
  ui/pages/fixture-editor.vue
Labels: component-editor, component-fixture, component-model, component-plugin, component-schema, component-test

#603 Update default values in Pan/Tilt channels
  fixtures/american-dj/auto-spot-150.json
  fixtures/american-dj/inno-pocket-fusion.json
  fixtures/american-dj/vizi-spot-led-pro.json
  fixtures/american-dj/xs-400.json
  fixtures/ayrton/magicblade-fx.json
  fixtures/boomtonedj/crazy-spot-30.json
  fixtures/cameo/gobo-scanner-80.json
  fixtures/cameo/hydrabeam-300-rgbw.json
  fixtures/cameo/nanospot-120.json
  fixtures/clay-paky/sharpy.json
  fixtures/clay-paky/spheriscan.json
  fixtures/coemar/prospot-250-lx.json
  fixtures/dts/xr1200-wash.json
  fixtures/elation/acl-360-roller.json
  fixtures/elation/platinum-hfx.json
  fixtures/elation/platinum-seven.json
  fixtures/elation/platinum-spot-15r-pro.json
  fixtures/eliminator/stealth-beam.json
  fixtures/eurolite/led-tmh-18.json
  fixtures/eurolite/led-tmh-7.json
  fixtures/eurolite/led-tmh-9.json
  fixtures/eurolite/led-tmh-x25.json
  fixtures/futurelight/dmh-75-i-led-moving-head.json
  fixtures/generic/pan-tilt.json
  fixtures/glp/impression-spot-one.json
  fixtures/glp/impression-x4-bar-10.json
  fixtures/glp/jdc1.json
  fixtures/jb-lighting/varyscan-p7.json
  fixtures/kam/gobotracer.json
  fixtures/laserworld/cs-1000rgb.json
  fixtures/lightmaxx/dj-scan-led.json
  fixtures/lightmaxx/vega-zoom-wash.json
  fixtures/martin/mac-700-wash.json
  fixtures/martin/mac-aura.json
  fixtures/martin/rush-mh-2-wash.json
  fixtures/martin/rush-mh-3-beam.json
  fixtures/martin/rush-mh-7-hybrid.json
  fixtures/minuit-une/ivl-carre.json
  fixtures/powerlighting/wash-84w.json
  fixtures/prolights/diamond19.json
  fixtures/qtx/lux-ld30w.json
  fixtures/register.json
  fixtures/robe/colorspot-2500e-at.json
  fixtures/robe/dj-scan-250-xt.json
  fixtures/robe/robin-600e-spot.json
  fixtures/robe/robin-ledwash-600.json
  fixtures/showtec/kanjo-spot-60.json
  fixtures/showtec/kanjo-wash-rgb.json
  fixtures/showtec/phantom-140-led-spot.json
  fixtures/showtec/phantom-50-led-spot.json
  fixtures/showtec/xs-1-rgbw.json
  fixtures/stairville/mh-100.json
  fixtures/stairville/mh-x25.json
Labels: component-fixture

#605 Add fixture 'magicfx/smokejet'
  fixtures/magicfx/smokejet.json
  fixtures/register.json
Labels: new-fixture, via-editor

#606 Automatically generate new manufacturer key in editor
  main.js
  ui/ajax/submit-editor.js
  ui/assets/scripts/editor-utils.mjs
  ui/components/labeled-input.vue
  ui/pages/fixture-editor.vue
  ui/pages/rdm.vue
Labels: component-editor, type-refactoring

#607 Fix fixture editor crash when restoring older editor version data
  ui/components/editor-restore-dialog.vue
Labels: component-fixture, type-bug

#592 GDTF import plugin
  lib/scale-dmx-values.js
  plugins/gdtf/README.md
  plugins/gdtf/gdtf-attributes.js
  plugins/gdtf/gdtf-helpers.js
  plugins/gdtf/import.js
  plugins/plugins.json
Labels: new-plugin

#610 Add fixture 'clay-paky/alpha-spot-qwo-800'
  cli/make-register.js
  fixtures/clay-paky/alpha-spot-qwo-800.json
  fixtures/manufacturers.json
  fixtures/register.json
  lib/create-github-pr.js
Labels: new-fixture, via-editor

#609 Add import UI
  cli/import-fixture.js
  docs/plugins.md
  lib/create-github-pr.js
  main.js
  package.json
  plugins/ecue/import.js
  plugins/gdtf/import.js
  plugins/qlcplus_4.11.2/import.js
  tests/http-status.js
  ui/ajax/import-fixture-file.js
  ui/assets/styles/style.scss
  ui/components/a11y-dialog.vue
  ui/components/editor-file-upload.vue
  ui/components/editor-submit-dialog.vue
  ui/components/labeled-input.vue
  ui/express-middleware/redirect-to-https.js
  ui/pages/fixture-editor.vue
  ui/pages/import-fixture-file.vue
  ui/plugins/vue-form.js
Labels: component-editor, component-ui

#611 Add fixture 'big-dipper/ls90'
  fixtures/big-dipper/ls90.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#613 Fix fixture editor restore feature (again)
  ui/components/editor-restore-dialog.vue
Labels: component-editor, type-bug

#612 Add fixture 'renkforce/gm107'
  fixtures/manufacturers.json
  fixtures/register.json
  fixtures/renkforce/gm107.json
Labels: new-fixture, via-editor

#614 Add fixture 'chauvet-dj/eve-p-100-ww'
  fixtures/chauvet-dj/eve-p-100-ww.json
  fixtures/register.json
Labels: new-fixture, via-editor

#615 Add fixture 'chauvet-dj/eve-p-130-rgb'
  fixtures/chauvet-dj/eve-p-130-rgb.json
  fixtures/register.json
Labels: new-fixture, via-editor

#616 Add fixture 'chauvet-professional/colordash-batten-quad-6'
  fixtures/chauvet-professional/colordash-batten-quad-6.json
  fixtures/manufacturers.json
  fixtures/register.json
  lib/fixture-json-stringify.js
Labels: new-fixture, via-editor

#617 Fix register duplication and sorting annoyance
  cli/make-register.js
  fixtures/register.json
  lib/create-github-pr.js
  lib/register.js
  ui/pages/index.vue
Labels: type-bug, type-refactoring

#618 Replace failing links
  fixtures/chauvet-dj/eve-p-130-rgb.json
  fixtures/manufacturers.json
  fixtures/showven/sparkular-fall.json
  fixtures/showven/sparkular.json
Labels: component-fixture

#620 Faster CI and dependency cleanup
  .travis.yml
  README.md
  lib/create-github-pr.js
  package.json
Labels: component-test

#623 Fix "help wanted" capabilities in lightmaXX fixtures
  fixtures/lightmaxx/platinum-mini-tri-par.json
  fixtures/lightmaxx/vega-zoom-wash.json
  fixtures/register.json
Labels: component-fixture

#624 Some register and Travis fixes again
  .travis.yml
  lib/create-github-pr.js
  lib/register.js
Labels: component-editor, component-test, type-bug

#622 Add fixture 'cameo/flat-par-can-tri-7x-3w-ir'
  fixtures/cameo/flat-par-can-tri-7x-3w-ir.json
  fixtures/register.json
Labels: new-fixture, via-editor

#625 Add fixture 'martin/mac-600'
  fixtures/manufacturers.json
  fixtures/martin/atomic-3000.json
  fixtures/martin/mac-600.json
  fixtures/martin/mac-700-wash.json
  fixtures/martin/mac-aura.json
  fixtures/martin/mac-axiom-hybrid.json
  fixtures/martin/mac-viper-airfx.json
  fixtures/martin/mac-viper-performance.json
  fixtures/martin/mac-viper-wash.json
  fixtures/martin/magnum-2500-hz.json
  fixtures/martin/roboscan-812.json
  fixtures/martin/rush-mh-2-wash.json
  fixtures/martin/rush-mh-3-beam.json
  fixtures/martin/rush-mh-7-hybrid.json
  fixtures/register.json
Labels: new-fixture, via-editor
