Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-04, with the labels that each got.

#460 add fixture 'minuit-une/m-carre'
  fixtures/manufacturers.json
  fixtures/minuit-une/m-carre.json
  fixtures/register.json
  ui/assets/styles/style.scss
  ui/components/svg.vue
Labels: new-fixture, via-editor

#463 add fixture 'orion/orcan2'
  fixtures/manufacturers.json
  fixtures/orion/orcan2.json
  fixtures/register.json
Labels: new-fixture, via-editor

#461 add fixture 'powerlighting/wash-84w'
  fixtures/manufacturers.json
  fixtures/powerlighting/wash-84w.json
  fixtures/register.json
Labels: new-fixture, via-editor

#466 Millumin plugin
  plugins/millumin/README.md
  plugins/millumin/export.js
  plugins/ofl/README.md
  plugins/ofl/export.js
  plugins/plugins.json
Labels: new-plugin

#467 Validate capability wizard user input
  ui/components/editor-capability-wizard.vue
Labels: component-editor, component-ui, type-bug

#471 Correct powerlight/wash-84w Speed channel
  fixtures/powerlighting/wash-84w.json
Labels: component-fixture, type-bug

#474 Use JS closures where it makes sense
  lib/create-github-pr.js
  tests/fixture-valid.js
  tests/github/pull-request.js
Labels: component-test, type-refactoring

#473 add fixture 'american-dj/dotz-par'
  fixtures/american-dj/dotz-par.json
  fixtures/register.json
Labels: new-fixture, via-editor

#481 Fix old command name in the docs
  docs/CONTRIBUTING.md
Labels: documentation, priority-medium

#484 Fixture redirects
  cli/make-register.js
  docs/fixture-format.md
  fixtures/minuit-une/ivl-carre.json
  fixtures/minuit-une/m-carre.json
  fixtures/register.json
  lib/create-github-pr.js
  lib/model.js
  main.js
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
  tests/fixture-valid.js
  tests/fixtures-valid.js
  ui/assets/styles/style.scss
  ui/assets/styles/vars.scss
  ui/components/a11y-dialog.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/index.vue
Labels: component-fixture, component-schema, component-ui

#462 add fixture 'blizzard/puck-rgbaw'
  fixtures/blizzard/puck-rgbaw.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor
