Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-10, with the labels that each got.

#629 Add fixture 'ibiza-light/par-mini-rgb3'
  fixtures/ibiza-light/par-mini-rgb3.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#630 Add .editorconfig
  .editorconfig
Labels: documentation

#632 Add fixture 'lixada/mini-gobo-moving-head-light'
  fixtures/lixada/mini-gobo-moving-head-light.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#636 Handle missing RDM information in register generation
  lib/register.js
  tests/fixture-valid.js
Labels: component-test, type-bug

#639 Make manufacturers page clearer
  ui/assets/styles/style.scss
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/_manufacturerKey/index.vue
  ui/pages/categories/index.vue
  ui/pages/index.vue
  ui/pages/manufacturers.vue
Labels: component-ui

#640 Use scoped styles where possible
  ui/assets/styles/style.scss
  ui/components/editor-capability.vue
  ui/components/editor-channel-dialog.vue
  ui/components/editor-mode.vue
  ui/components/header.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/search.vue
Labels: component-ui

#637 Add fixture 'skypix/ribalta-beam'
  fixtures/manufacturers.json
  fixtures/register.json
  fixtures/skypix/ribalta-beam.json
Labels: new-fixture, via-editor

#644 Add Gruft Pixel Tube
  fixtures/gruft/pixel-tube.json
  fixtures/register.json
Labels: new-fixture

#643 Add fixture 'arri/skypanel-s30c'
  fixtures/arri/skypanel-s30c.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#645 Add fixture 'robe-lighting-s-r-o/robin-viva-cmy'
  fixtures/register.json
  fixtures/robe/robin-viva-cmy.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture, via-editor

#648 Fix GDTF imported date
  plugins/gdtf/import.js
Labels: component-plugin, type-bug

#647 Add fixture 'solaris/smart-36'
  fixtures/manufacturers.json
  fixtures/register.json
  fixtures/solaris/smart-36.json
Labels: new-fixture, via-editor

#649 Directly resolve helpWanteds in UI
  lib/create-github-issue.js
  main.js
  ui/ajax/submit-feedback.js
  ui/assets/icons/comment-alert.svg
  ui/assets/icons/icons.mjs
  ui/assets/styles/style.scss
  ui/assets/styles/vars.scss
  ui/components/editor-submit-dialog.vue
  ui/components/fixture-capability-table.vue
  ui/components/fixture-channel.vue
  ui/components/fixture-help-wanted-dialog.vue
  ui/components/fixture-help-wanted.vue
  ui/components/fixture-mode.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/fixture-editor.vue
Labels: component-ui

#651 Matrix pixel spacing improvements
  fixtures/ayrton/magicblade-fx.json
  fixtures/chroma-q/color-force-ii-12.json
  fixtures/chroma-q/color-force-ii-48.json
  fixtures/chroma-q/color-force-ii-72.json
  fixtures/gruft/pixel-tube.json
  lib/fixture-json-stringify.js
  plugins/qlcplus_4.12.0/export.js
  tests/fixture-valid.js
Labels: component-fixture, component-plugin, component-test

#655 Fixture fixes
  fixtures/clay-paky/alpha-spot-qwo-800.json
  fixtures/coemar/prospot-250-lx.json
  fixtures/register.json
Labels: component-fixture, type-bug

#656 Manufacturer colors
  fixtures/register.json
  lib/register.js
  package.json
  ui/assets/styles/style.scss
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/_manufacturerKey/index.vue
  ui/pages/categories/_category.vue
  ui/pages/index.vue
  ui/pages/manufacturers.vue
  ui/pages/search.vue
Labels: component-ui
