Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-06, with the labels that each got.

#503 Model optimizations
  lib/model/Capability.mjs
  lib/model/Channel.mjs
  lib/model/Range.mjs
  plugins/ecue/export.js
  ui/components/fixture-channel.vue
Labels: component-model, type-refactoring

#504 Plugin optimizations
  plugins/d-light/export.js
  plugins/qlcplus_4.11.2/export.js
Labels: component-plugin, type-refactoring

#506 Fixture valid optimizations
  fixtures/adb/warp-m.json
  fixtures/jb-lighting/varyscan-p7.json
  tests/fixture-valid.js
  tests/fixtures-valid.js
Labels: component-fixture, component-test, type-refactoring

#507 UI improvements
  lib/schema-properties.js
  schemas/definitions.json
  ui/ajax/add-fixtures.js
  ui/assets/styles/style.scss
  ui/components/a11y-dialog.vue
  ui/components/conditional-details.vue
  ui/components/editor-capability.vue
  ui/components/editor-channel-dialog.vue
  ui/components/editor-mode.vue
  ui/components/fixture-channel.vue
  ui/components/simple-label.vue
  ui/components/svg.vue
Labels: component-editor, component-ui

#509 add fixture 'magicfx/stage-flame'
  fixtures/magicfx/stage-flame.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#510 add fixture 'showven/sparkular'
  fixtures/manufacturers.json
  fixtures/register.json
  fixtures/showven/sparkular.json
Labels: new-fixture, via-editor

#511 add fixture 'showven/sparkular-fall'
  fixtures/register.json
  fixtures/showven/sparkular-fall.json
Labels: new-fixture, via-editor

#513 Prettify JSON output in OFL and Millumin plugins
  lib/create-github-pr.js
  lib/fixture-json-stringify.js
  plugins/millumin/export.js
  plugins/ofl/export.js
Labels: component-plugin

#512 add 3 new fixtures
  fixtures/boomtonedj/xtrem-led.json
  fixtures/elation/acl-360-roller.json
  fixtures/glp/jdc1.json
  fixtures/register.json
Labels: new-fixture

#514 Fix schema $id
  schemas/capability.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
Labels: component-schema, type-bug

#516 Allow "help wanted" messages
  fixtures/adb/warp-m.json
  fixtures/american-dj/xs-400.json
  fixtures/boomtonedj/crazy-spot-30.json
  lib/model/Capability.mjs
  lib/model/Channel.mjs
  lib/model/Fixture.mjs
  schemas/capability.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
  ui/assets/icons/comment-question-outline.svg
  ui/assets/icons/icons.mjs
  ui/assets/styles/style.scss
  ui/assets/styles/vars.scss
  ui/components/conditional-details.vue
  ui/components/editor-channel-dialog.vue
  ui/components/fixture-capability-table.vue
  ui/components/fixture-channel.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: component-fixture, component-model, component-schema, component-ui

#515 Infinite Pan/Tilt
  fixtures/american-dj/xs-400.json
  fixtures/elation/acl-360-roller.json
  fixtures/eliminator/stealth-beam.json
  fixtures/futurelight/dmh-75-i-led-moving-head.json
  lib/fixture-features/floating-point-physicals.js
  lib/fixture-features/infinite-pan-tilt.js
  lib/model/Physical.mjs
  plugins/millumin/export.js
  plugins/millumin/exportTests/json-schema-conformity.js
  plugins/plugins.json
  plugins/qlcplus_4.11.2/export.js
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
  tests/test-fixtures.json
  tests/test-fixtures.md
  ui/components/editor-physical.vue
  ui/components/fixture-physical.vue
Labels: component-editor, component-fixture, component-model, component-plugin, component-schema, component-ui

#518 Millumin supports schema version 7.3.0
  fixtures/american-dj/xs-400.json
  fixtures/elation/acl-360-roller.json
  fixtures/eliminator/stealth-beam.json
  fixtures/futurelight/dmh-75-i-led-moving-head.json
  fixtures/register.json
  plugins/millumin/export.js
Labels: component-plugin

#519 Remove invalid helpWanted message
  fixtures/american-dj/xs-400.json
Labels: component-fixture

#520 Refactor QLC+ 4 import plugin
  cli/import-fixture.js
  plugins/qlcplus_4.11.2/import.js
Labels: component-plugin, type-bug, type-refactoring

#521 Refactor e:cue import plugin
  plugins/ecue/import.js
  plugins/qlcplus_4.11.2/import.js
  ui/ajax/add-fixtures.js
Labels: component-plugin, type-bug, type-refactoring

#527 Add no-nuxt make target
  Makefile
Labels: difficulty-easy

#528 Some more SEO
  main.js
  nuxt.config.js
  ui/middleware/robots-txt.js
  ui/static/BingSiteAuth.xml
Labels: component-ui

#529 Fix client side error
  docs/ui.md
  main.js
  ui/express-middleware/redirect-to-https.js
  ui/express-middleware/robots-txt.js
Labels: component-ui, priority-high, type-bug
