Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-12, with the labels that each got.

#703 Fix exports-valid GitHub test hitting comment length limit
  tests/github/exports-valid.js
Labels: component-test, type-bug

#702 Add fixture 'glp/force-120'
  fixtures/glp/force-120.json
  fixtures/register.json
Labels: new-fixture, via-editor

#704 New fixture feature "matrix channel overridden"
  lib/fixture-features/matrices.js
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: component-test

#706 Fix ARRI link URLs
  fixtures/arri/skypanel-s30c.json
  fixtures/manufacturers.json
Labels: component-fixture, type-bug

#708 Add fixture 'sun-star/g-2011-nova'
  fixtures/manufacturers.json
  fixtures/register.json
  fixtures/sun-star/g-2011-nova.json
Labels: new-fixture, via-editor

#709 Add fixture 'chauvet-professional/rogue-r2-wash'
  fixtures/chauvet-professional/rogue-r2-wash.json
  fixtures/register.json
Labels: new-fixture, via-editor

#711 Add fixture 'briteq/cob-slim-100-rgb'
  fixtures/briteq/cob-slim-100-rgb.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#712 Add fixture 'briteq/bt-ledrotor'
  fixtures/briteq/bt-ledrotor.json
  fixtures/register.json
Labels: new-fixture, via-editor

#713 Add fixture 'hong-yi/hy-g60'
  fixtures/hong-yi/hy-g60.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#714 Add fixture 'tiptop-stage-light/3-10w-battery-led-wedge-par'
  fixtures/manufacturers.json
  fixtures/register.json
  fixtures/tiptop-stage-light/3-10w-battery-led-wedge-par.json
Labels: new-fixture, via-editor

#715 Add fixture 'dedolight/dedo7-bi'
  fixtures/dedolight/dled7-bi.json
  fixtures/register.json
Labels: new-fixture, via-editor

#718 Correct usage of StrobeSpeed capabilities
  fixtures/chauvet-dj/gigbar-2.json
  fixtures/chroma-q/color-force-ii-12.json
  fixtures/chroma-q/color-force-ii-48.json
  fixtures/chroma-q/color-force-ii-72.json
  fixtures/contest/irledflat-5x12SIXb.json
  fixtures/magicfx/smokejet.json
Labels: component-fixture, type-bug
