Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-05, with the labels that each got.

#492 Pin QLC+ XML schema version to QLC+ 4.11.2
  main.js
  plugins/plugins.json
  plugins/qlcplus_4.11.2/README.md
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.11.2/exportTests/xsd-schema-conformity.js
  plugins/qlcplus_4.11.2/import.js
  ui/components/download-button.vue
  ui/pages/_manufacturerKey/index.vue
Labels: component-plugin, component-test, difficulty-easy, priority-high, type-bug

#493 add fixture 'glp/impression-x4-bar-10
  fixtures/glp/impression-x4-bar-10.json
  fixtures/register.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture, via-editor

#494 Fix errors in editor UI
  package.json
  ui/components/category-chooser.vue
  ui/components/editor-capability.vue
  ui/components/editor-channel-dialog.vue
  ui/components/property-input-dimensions.vue
  ui/components/property-input-range.vue
Labels: component-editor, component-ui, priority-high, type-bug

#495 Rewritten exports valid output comment
  tests/github/exports-valid.js
  tests/github/pull-request.js
Labels: component-test, priority-medium

#496 add fixture 'showtec/xs-1-rgbw'
  fixtures/register.json
  fixtures/showtec/xs-1-rgbw.json
Labels: new-fixture, via-editor

#498 Rewritten export diff output comment
  tests/github/export-diff.js
  tests/github/exports-valid.js
  tests/github/pull-request.js
Labels: component-test

#499 export-diff: Only perform necessary tasks
  tests/github/export-diff.js
Labels: component-test

#502 Export diff fixes
  tests/github/export-diff.js
Labels: component-test, priority-high, type-bug

#501 add fixture 'boomtonedj/crazy-spot-30'
  fixtures/boomtonedj/crazy-spot-30.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#500 add fixture 'ghost/ip-spot-bat'
  fixtures/ghost/ip-spot-bat.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor
