Repository OpenLightingProject/open-fixture-library, pull requests merged in 2018-02, with the labels that each got.

#414 Fix QLC+'s head information
  fixtures/showtec/pixel-bar-12-mkii.json
  lib/model/Matrix.js
  lib/model/Mode.js
  plugins/qlcplus/export.js
Labels: component-fixture, component-model, component-plugin

#415 add Chroma-Q Color Force II fixtures
  fixtures/chroma-q/color-force-ii-12.json
  fixtures/chroma-q/color-force-ii-48.json
  fixtures/chroma-q/color-force-ii-72.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#419 add fixture 'generic/drgbw-fader'
  fixtures/generic/drgbw-fader.json
  fixtures/register.json
Labels: new-fixture, via-editor

#420 Make Model classes ES2015 Modules
  Makefile
  cli/export-fixture.js
  cli/make-test-fixtures.js
  cli/run-export-test.js
  docs/fixture-model.md
  lib/diff-plugin-outputs.js
  lib/fixture-features/channel-types.js
  lib/fixture-features/duplicate-channel-names.js
  lib/fixture-features/fine-channels.js
  lib/fixture-features/fine-positions.js
  lib/fixture-features/floating-point-physicals.js
  lib/fixture-features/matrices.js
  lib/fixture-features/multiple-categories.js
  lib/fixture-features/multiple-focuses.js
  lib/fixture-features/no-physical-data.js
  lib/fixture-features/null-channels.js
  lib/fixture-features/physical-override.js
  lib/fixture-features/rdm.js
  lib/fixture-features/reused-channels.js
  lib/fixture-features/switching-channels.js
  lib/fixture-features/switching-fine-channels.js
  lib/model.js
  lib/model/.eslintrc.json
  lib/model/AbstractChannel.mjs
  lib/model/Capability.mjs
  lib/model/Channel.mjs
  lib/model/FineChannel.mjs
  lib/model/Fixture.mjs
  lib/model/Manufacturer.mjs
  lib/model/Matrix.mjs
  lib/model/MatrixChannel.mjs
  lib/model/MatrixChannelReference.mjs
  lib/model/Meta.mjs
  lib/model/Mode.mjs
  lib/model/NullChannel.mjs
  lib/model/Physical.mjs
  lib/model/Range.mjs
  lib/model/SwitchingChannel.mjs
  lib/model/TemplateChannel.mjs
  main.js
  package.json
  plugins/d-light/export.js
  plugins/ecue/export.js
  plugins/qlcplus/export.js
  tests/fixture-valid.js
  tests/github/exports-valid.js
  views/pages/single_fixture.js
  views/pages/single_manufacturer.js
  views/pages/sitemap.js
Labels: component-model

#418 add fixture 'adb/europe-105'
  fixtures/adb/europe-105.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#423 Use Node 8 in Travis
  .travis.yml
Labels: component-test, difficulty-easy, priority-medium, type-bug

#424 add fixture 'look/viper-nt'
  fixtures/look/viper-nt.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#426 Add switching-channel-positions fix feature
  lib/fixture-features/switching-channels.js
  lib/fixture-features/switching-fine-channels.js
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: component-test, difficulty-easy, priority-low

#428 add fixture 'adb/alc4'
  fixtures/adb/alc4.json
  fixtures/register.json
Labels: new-fixture, via-editor

#261 Update Martin shortnames
  fixtures/martin/atomic-3000.json
  fixtures/martin/mac-aura.json
  fixtures/martin/mac-axiom-hybrid.json
  fixtures/martin/mac-viper-airfx.json
  fixtures/martin/mac-viper-wash.json
  fixtures/martin/magnum-2500-hz.json
  fixtures/martin/roboscan-812.json
Labels: component-fixture
