Repository OpenLightingProject/open-fixture-library, pull requests merged in 2019-04, with the labels that each got.

#857 Explicitly upgrade @octokit/rest to 16.23.1
  package-lock.json
  package.json
Labels: greenkeeper, type-bug

#845 Add fixture 'american-dj/stinger-spot'
  fixtures/american-dj/stinger-spot.json
Labels: new-fixture, via-editor

#846 Add fixture 'briteq/pro-beamer-zoom-mk2-indoor'
  fixtures/briteq/pro-beamer-zoom-indoor.json
  fixtures/briteq/pro-beamer-zoom-outdoor.json
Labels: new-fixture, via-editor

#858 Fix lots of broken links
  fixtures/american-dj/fog-fury-jett-pro.json
  fixtures/cameo/auro-spot-100.json
  fixtures/cameo/auro-spot-200.json
  fixtures/cameo/auro-spot-300.json
  fixtures/cameo/auro-spot-400.json
  fixtures/cameo/flat-par-can-rgb-10-ir.json
  fixtures/cameo/flat-par-can-tri-7x-3w-ir.json
  fixtures/cameo/steam-wizard-1000.json
  fixtures/cameo/steam-wizard-2000.json
  fixtures/cameo/zenit-w600.json
Labels: component-fixture, type-bug, type-refactoring

#861 Replace colors dependency with chalk
  cli/debug-env-variables.js
  cli/diff-plugin-outputs.js
  cli/export-fixture.js
  cli/make-dereferenced-schemas.js
  cli/make-plugin-data.js
  cli/make-register.js
  cli/make-test-fixtures.js
  cli/run-export-test.js
  lib/diff-plugin-outputs.js
  package-lock.json
  package.json
  tests/dmx-value-scaling.js
  tests/fixtures-valid.js
  tests/http-status.js
  tests/make-targets-updated.js
Labels: type-refactoring

#862 Resolve dependencies/devDependencies disambiguation to fix CI build
  package-lock.json
  package.json
  server/ecosystem.config.js
Labels: type-bug

#849 Add fixture 'chauvet-professional/ovation-f-915vw'
  fixtures/chauvet-professional/ovation-f-915vw.json
Labels: new-fixture, via-editor

#855 Add Eurolite LED (Big) PARty (TCL) Spot fixtures
  fixtures/eurolite/led-big-party-spot.json
  fixtures/eurolite/led-big-party-tcl-spot.json
  fixtures/eurolite/led-party-spot.json
  fixtures/eurolite/led-party-tcl-spot.json
Labels: new-fixture, via-editor

#854 Add fixture 'equinox/rgb-power-batten'
  fixtures/equinox/rgb-power-batten.json
Labels: new-fixture, via-editor

#864 Add GLP KNV Cube/Arc fixtures
  fixtures/glp/knv-arc.json
  fixtures/glp/knv-cube.json
Labels: new-fixture, via-editor

#867 Add fixture 'american-dj/stinger-ii'
  fixtures/american-dj/stinger-ii.json
Labels: new-fixture, via-editor

#868 Add fixture 'flash-professional/led-par-64-slim-7x10w-rgbw-mk2'
  fixtures/flash-professional/led-par-64-slim-7x10w-rgbw-mk2.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#873 Show recent instead of top contributors on homepage
  lib/register.js
  ui/pages/index.vue
Labels: component-ui

#874 Fix Stage Right's Dimmer/Strobe channel (closes #866)
  fixtures/stage-right/stage-wash-7x10w-led-moving-head.json
Labels: component-fixture, type-bug

#870 Add fixture 'eurolite/led-tha-100f'
  fixtures/eurolite/led-tha-100f-mk2.json
  fixtures/eurolite/led-tha-100f.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#871 Add fixture 'stairville/revueled-120-cob-rgbww'
  fixtures/stairville/revueled-120-cob-rgbww.json
Labels: new-fixture, via-editor

#872 Add fixture 'chauvet-dj/colorband-pix'
  fixtures/chauvet-dj/colorband-pix-ip.json
  fixtures/chauvet-dj/colorband-pix.json
Labels: new-fixture, via-editor

#869 Don't wrap multiple inputs inside a label to restore Safari compatibility
  ui/components/editor-capabilities/BeamAngle.vue
  ui/components/editor-capabilities/BladeInsertion.vue
  ui/components/editor-capabilities/BladeRotation.vue
  ui/components/editor-capabilities/BladeSystemRotation.vue
  ui/components/editor-capabilities/ColorIntensity.vue
  ui/components/editor-capabilities/ColorPreset.vue
  ui/components/editor-capabilities/ColorTemperature.vue
  ui/components/editor-capabilities/Effect.vue
  ui/components/editor-capabilities/EffectDuration.vue
  ui/components/editor-capabilities/EffectParameter.vue
  ui/components/editor-capabilities/EffectSpeed.vue
  ui/components/editor-capabilities/Focus.vue
  ui/components/editor-capabilities/Fog.vue
  ui/components/editor-capabilities/FogOutput.vue
  ui/components/editor-capabilities/Frost.vue
  ui/components/editor-capabilities/FrostEffect.vue
  ui/components/editor-capabilities/Intensity.vue
  ui/components/editor-capabilities/Iris.vue
  ui/components/editor-capabilities/IrisEffect.vue
  ui/components/editor-capabilities/Maintenance.vue
  ui/components/editor-capabilities/Pan.vue
  ui/components/editor-capabilities/PanContinuous.vue
  ui/components/editor-capabilities/PanTiltSpeed.vue
  ui/components/editor-capabilities/Prism.vue
  ui/components/editor-capabilities/PrismRotation.vue
  ui/components/editor-capabilities/Rotation.vue
  ui/components/editor-capabilities/ShutterStrobe.vue
  ui/components/editor-capabilities/SoundSensitivity.vue
  ui/components/editor-capabilities/Speed.vue
  ui/components/editor-capabilities/StrobeDuration.vue
  ui/components/editor-capabilities/StrobeSpeed.vue
  ui/components/editor-capabilities/Tilt.vue
  ui/components/editor-capabilities/TiltContinuous.vue
  ui/components/editor-capabilities/Time.vue
  ui/components/editor-capabilities/WheelRotation.vue
  ui/components/editor-capabilities/WheelShake.vue
  ui/components/editor-capabilities/WheelSlot.vue
  ui/components/editor-capabilities/WheelSlotRotation.vue
  ui/components/editor-capabilities/Zoom.vue
  ui/components/editor-capability.vue
  ui/components/editor-channel-dialog.vue
  ui/components/editor-physical.vue
  ui/components/labeled-input.vue
  ui/components/wheel-slots/Color.vue
  ui/components/wheel-slots/Frost.vue
  ui/components/wheel-slots/Iris.vue
  ui/pages/fixture-editor.vue
Labels: component-editor, priority-high, type-bug

#863 Editor: Allow downloading created fixture before and after submitting
  docs/model-api.md
  lib/get-out-object-from-editor-data.js
  lib/model/Manufacturer.mjs
  main.js
  ui/ajax/submit-editor.js
  ui/assets/scripts/editor-utils.mjs
  ui/components/category-chooser.vue
  ui/components/download-button.vue
  ui/components/editor-mode.vue
  ui/components/editor-submit-dialog.vue
  ui/components/help-wanted-message.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/fixture-editor.vue
  ui/pages/index.vue
Labels: component-editor

#876 Fix errors with HTTP status test
  package-lock.json
  package.json
  tests/http-status.js
Labels: component-test

#877 Add fixture 'robe/spot-160xt'
  fixtures/robe/spot-160-xt.json
Labels: new-fixture, via-editor

#880 Fix some fixtures' links
  fixtures/magicfx/psyco2jet.json
  fixtures/magicfx/stage-flame.json
  fixtures/varytec/led-theater-spot-100.json
Labels: component-fixture

#882 Upgrade Node.js to version 10
  .travis.yml
  package-lock.json
  package.json
  plugins/qlcplus_4.11.2/exportTests/xsd-schema-conformity.js
  plugins/qlcplus_4.12.1/exportTests/xsd-schema-conformity.js
Labels: component-server

#881 Editor: Save and prefill name and GitHub username
  ui/pages/about/index.vue
  ui/pages/fixture-editor.vue
  ui/pages/import-fixture-file.vue
Labels: component-editor
