Repository OpenLightingProject/open-fixture-library, pull requests merged in 2019-12, with the labels that each got.

#1084 Wavelength is one word
  plugins/gdtf/gdtf-attributes.js
  plugins/gdtf/import.js
Labels: component-plugin, type-bug, type-question, type-refactoring

#1131 Update GLP JDC1, switch to HTTPS where possible
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/fixture-format.md
  docs/ui.md
  fixtures/5star-systems/spica-250m.json
  fixtures/american-dj/revo-burst.json
  fixtures/contest/irledflat-5x12SIXb.json
  fixtures/elation/cuepix-blinder-ww2.json
  fixtures/elation/cuepix-blinder-ww4.json
  fixtures/elation/design-led-par-zoom.json
  fixtures/elation/platinum-seven.json
  fixtures/elation/platinum-spot-15r-pro.json
  fixtures/elation/proteus-hybrid.json
  fixtures/elation/sixpar-100-ip.json
  fixtures/elation/sixpar-100.json
  fixtures/elation/sixpar-200-ip.json
  fixtures/elation/sixpar-200-wmg.json
  fixtures/elation/sixpar-200.json
  fixtures/elation/sixpar-300-ip.json
  fixtures/elation/sixpar-300-wmg.json
  fixtures/elation/sixpar-300.json
  fixtures/elation/uni-bar.json
  fixtures/eliminator/stealth-beam.json
  fixtures/eliminator/stealth-wash-zoom.json
  fixtures/epsilon/duo-q-beam-bar.json
  fixtures/equinox/gigabar.json
  fixtures/equinox/rgb-power-batten.json
  fixtures/eurolite/led-fe-1500.json
  fixtures/eurolite/led-par-56-tcl.json
  fixtures/eurolite/led-ps-4-hcl.json
  fixtures/eurolite/led-sls-6-uv-floor.json
  fixtures/eurolite/led-svf-1.json
  fixtures/eurolite/led-tmh-18.json
  fixtures/eurolite/led-tmh-7.json
  fixtures/eurolite/led-tmh-9.json
  fixtures/eurolite/led-tmh-x25.json
  fixtures/futurelight/dmh-75-i-led-moving-head.json
  fixtures/futurelight/pro-slim-par-7-hcl.json
  fixtures/futurelight/stb-648-led-strobe-smd-5050.json
  fixtures/glp/jdc1.json
  fixtures/ibiza-light/par-mini-rgb3.json
  fixtures/ledj/slimline-12q5-rgba.json
  fixtures/manufacturers.json
  fixtures/prolights/diamond19.json
  fixtures/prolights/pixpan16.json
  fixtures/qtx/lux-ld30w.json
  fixtures/silver-star/mx-indigo-6000xe.json
  fixtures/solaris/smart-36.json
  fixtures/venue/thintri64.json
  fixtures/venue/tristrip3z.json
  plugins/millumin/plugin.json
  server/ecosystem.config.js
  server/nginx-site-available
  ui/components/CategoryBadge.vue
Labels: component-fixture

#818 Add ColorSource Plugin
  plugins/colorsource/export.js
  plugins/colorsource/plugin.json
  plugins/plugins.json
Labels: component-plugin, new-plugin

#1126 Restrict which fixtures are validated by tests/fixtures-valid.js
  tests/fixtures-valid.js
Labels: component-test

#1133 Refactor fixtures-valid.js
  tests/fixtures-valid.js
Labels: component-test, type-refactoring

#1091 Add fixture 'showpro/litebar-h9'
  fixtures/manufacturers.json
  fixtures/showpro/litebar-h9.json
Labels: new-fixture, via-editor

#1092 Add fixture 'ibiza-light/lp64-led-promo'
  fixtures/ibiza-light/lp64-led-promo.json
Labels: new-fixture, via-editor

#1132 Partially switch from Travis CI to GitHub Actions
  .github/workflows/test.yaml
  .travis.yml
  package.json
  server/webhook.js
  tests/lint.js
Labels: component-test

#1109 Add American DJ Mega Bar 50RGB and 50RGB RC fixtures
  fixtures/american-dj/mega-bar-50rgb-rc.json
  fixtures/american-dj/mega-bar-50rgb.json
  fixtures/ibiza-light/lp64-led-promo.json
Labels: new-fixture, via-editor

#1146 Make vue-form components PascalCase
  .eslintrc.json
  package-lock.json
  package.json
  ui/components/LabeledInput.vue
  ui/components/PropertyInputDimensions.vue
  ui/components/PropertyInputEntity.vue
  ui/components/PropertyInputRange.vue
  ui/components/editor/EditorChannelDialog.vue
  ui/components/editor/EditorLinks.vue
  ui/components/editor/EditorMode.vue
  ui/components/editor/EditorPhysical.vue
  ui/components/editor/EditorProportionalPropertySwitcher.vue
  ui/pages/fixture-editor.vue
  ui/pages/import-fixture-file.vue
Labels: component-ui, type-refactoring

#1149 Remove unused dependencies
  package-lock.json
  package.json
Labels: greenkeeper

#1150 Improve smooth scrolling
  nuxt.config.js
  package-lock.json
  package.json
  ui/assets/styles/style.scss
  ui/components/editor/EditorChannelDialog.vue
  ui/pages/manufacturers.vue
  ui/plugins/vue-smooth-scroll.js
Labels: component-ui

#1128 Add fixture 'beamz/panther-7r'
  fixtures/beamz/panther-7r.json
Labels: new-fixture, via-editor

#1151 Rename stairville/mh-x30
  fixtures/stairville/mh-x30-led-spot.json
  fixtures/stairville/mh-x30.json
  tests/test-fixtures.json
  tests/test-fixtures.md
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: component-fixture

#1129 Add fixture 'prolights/SMARTBAT'
  fixtures/prolights/smartbat.json
Labels: new-fixture, via-editor

#1134 Add fixture 'stage-right/mini-beam-rgbw' + Lixada redirect
  fixtures/lixada/mini-beam-rgbw.json
  fixtures/stage-right/mini-beam-rgbw.json
Labels: new-fixture, via-editor

#1136 Add fixture 'eyourlife/led-rgbw-54x3-par64'
  fixtures/eyourlife/led-rgbw-54x3-par64.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#1137 Add EYL2 variant to fixture 'eyourlife/led-rgbw-54x3-par64'
  fixtures/eyourlife/led-rgbw-54x3-par64.json
Labels: new-fixture, via-editor

#1156 Fix some helpWanteds in fixture 'beamz/panther-7r'
  fixtures/beamz/panther-7r.json
Labels: component-fixture, difficulty-easy

#1163 Add stylelint (S)CSS linter
  .github/workflows/test.yaml
  .stylelintrc.json
  package-lock.json
  package.json
  ui/assets/styles/style.scss
  ui/assets/styles/vars.scss
  ui/components/A11yDialog.vue
  ui/components/DownloadButton.vue
  ui/components/editor/EditorMode.vue
  ui/layouts/default.vue
  ui/pages/about/index.vue
Labels: component-test, component-ui
