Repository OpenLightingProject/open-fixture-library, pull requests merged in 2019-03, with the labels that each got.

#800 Add fixture 'robe/robin-300e-wash'
  fixtures/register.json
  fixtures/robe/robin-300e-wash.json
Labels: new-fixture, via-editor

#805 Cache less resources in UI
  lib/generate-sitemap.js
  main.js
Labels: component-ui, type-refactoring

#802 Add fixture 'american-dj/starbust'
  fixtures/american-dj/starburst.json
  fixtures/register.json
Labels: new-fixture, via-editor

#804 Add fixture 'mark/superbat-led-72'
  fixtures/manufacturers.json
  fixtures/mark/superbat-led-72.json
  fixtures/register.json
Labels: new-fixture, via-editor

#806 Limit number of displayed modes as performance improvement
  lib/fixture-features/many-modes.js
  tests/test-fixtures.json
  tests/test-fixtures.md
  ui/assets/icons/alert.svg
  ui/assets/icons/icons.mjs
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: component-fixture, priority-high, type-bug

#803 Add fixture 'mark/mbar-381-ip'
  fixtures/mark/mbar-381-ip.json
  fixtures/register.json
Labels: new-fixture, via-editor

#807 Add fixture 'starway/stickolor-1210uhd'
  fixtures/manufacturers.json
  fixtures/register.json
  fixtures/starway/stickolor-1210uhd.json
Labels: new-fixture, via-editor

#808 Plugin improvements
  Makefile
  cli/diff-plugin-outputs.js
  cli/make-plugin-data.js
  cli/run-export-test.js
  docs/plugins.md
  lib/diff-plugin-outputs.js
  plugins/d-light/README.md
  plugins/d-light/export.js
  plugins/d-light/plugin.json
  plugins/ecue/README.md
  plugins/ecue/export.js
  plugins/ecue/import.js
  plugins/gdtf/README.md
  plugins/gdtf/import.js
  plugins/gdtf/plugin.json
  plugins/millumin/README.md
  plugins/millumin/export.js
  plugins/millumin/plugin.json
  plugins/ofl/README.md
  plugins/ofl/export.js
  plugins/ofl/plugin.json
  plugins/op-z/README.md
  plugins/op-z/export.js
  plugins/op-z/plugin.json
  plugins/plugins.json
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.11.2/import.js
  plugins/qlcplus_4.11.2/plugin.json
  plugins/qlcplus_4.12.0/README.md
  plugins/qlcplus_4.12.0/export.js
  plugins/qlcplus_4.12.0/plugin.json
  schemas/plugin.json
  tests/fixture-valid.js
  tests/github/export-diff.js
  tests/github/exports-valid.js
  tests/github/pull-request.js
  tests/github/schema-version-reminder.js
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/about/plugins/_plugin.vue
Labels: component-plugin, component-test, type-documentation, type-refactoring

#811 Fix exports-valid/export-diff
  tests/github/export-diff.js
  tests/github/exports-valid.js
Labels: component-test, priority-high, type-bug

#810 QLC+ 4.12.1
  plugins/plugins.json
  plugins/qlcplus_4.12.1/export.js
  plugins/qlcplus_4.12.1/exportTests/fixture-tool-validation.js
  plugins/qlcplus_4.12.1/exportTests/xsd-schema-conformity.js
  plugins/qlcplus_4.12.1/plugin.json
Labels: component-plugin, type-refactoring

#812 Gitignore register
  .gitignore
  Makefile
  docs/fixture-format.md
  fixtures/register.json
  lib/create-github-pr.js
  package.json
Labels: type-refactoring

#813 Add 3 Briteq Coloray fixtures
  fixtures/briteq/bt-coloray-120r.json
  fixtures/briteq/bt-coloray-18fcr.json
  fixtures/briteq/bt-coloray-60r.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#815 Add fixture 'martin/rush-scanner-1-led'
  fixtures/martin/rush-scanner-1-led.json
Labels: new-fixture, via-editor

#817 Fix issues with export-fixtures CLI script
  cli/export-fixture.js
Labels: type-bug

#816 Add function for menuClickDmxValue in desired resolution
  docs/model-api.md
  lib/model/Capability.mjs
  plugins/d-light/export.js
Labels: component-model, component-plugin, type-bug

#821 Add Stand category to Stairville Stage TRI LED
  fixtures/stairville/stage-tri-led.json
Labels: component-fixture, difficulty-easy, type-bug

#824 Add hold time to Martin MAC 600's Lamp Off capability
  fixtures/martin/mac-600.json
Labels: component-fixture

#823 Flip Chroma-Q Color Force II's matrix direction
  fixtures/chroma-q/color-force-ii-12.json
  fixtures/chroma-q/color-force-ii-48.json
  fixtures/chroma-q/color-force-ii-72.json
Labels: component-fixture

#822 Matrix pixel group constraints
  docs/fixture-format.md
  docs/model-api.md
  fixtures/american-dj/mega-bar-rgba.json
  fixtures/american-dj/revo-burst.json
  fixtures/ayrton/magicblade-fx.json
  fixtures/briteq/bt-ledrotor.json
  fixtures/cameo/storm.json
  fixtures/chauvet-professional/rogue-r2-wash.json
  fixtures/chroma-q/color-force-ii-48.json
  fixtures/chroma-q/color-force-ii-72.json
  fixtures/elation/acl-360-roller.json
  fixtures/elation/platinum-seven.json
  fixtures/equinox/gigabar.json
  fixtures/eurolite/led-pix-12-hcl.json
  fixtures/eurolite/led-pix-144.json
  fixtures/glp/force-120.json
  fixtures/mark/mbar-381-ip.json
  fixtures/nicols/led-bar-123-fc-ip.json
  fixtures/prolights/diamond19.json
  fixtures/prolights/polar3000.json
  fixtures/robe/robin-ledbeam-100.json
  fixtures/robe/robin-ledwash-600.json
  fixtures/showtec/pixel-bar-12-mkii.json
  fixtures/showtec/sunstrip-active-mkii.json
  fixtures/skypix/ribalta-beam.json
  fixtures/starway/stickolor-1210uhd.json
  fixtures/tmb/solaris-flare.json
  fixtures/venue/tristrip3z.json
  lib/fixture-features/matrices.js
  lib/model/Matrix.mjs
  plugins/millumin/export.js
  plugins/plugins.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
  schemas/matrix.json
  tests/fixture-valid.js
  tests/test-fixtures.json
  tests/test-fixtures.md
  ui/components/fixture-matrix.vue
Labels: component-model, component-schema, component-test, component-ui

#828 Add fixture 'american-dj/pocket-pro'
  fixtures/american-dj/pocket-pro.json
Labels: new-fixture, via-editor

#827 Add fixture 'ledj/slimline-12q5'
  fixtures/ledj/slimline-12q5-rgba.json
  fixtures/ledj/slimline-12q5-rgbw.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#830 Hide Anonymous from register's contributors
  Makefile
  lib/register.js
Labels: component-ui, difficulty-easy, priority-high

#829 Add fixture 'varytec/led-theater-spot-100'
  fixtures/manufacturers.json
  fixtures/varytec/led-theater-spot-100.json
Labels: new-fixture, via-editor

#831 Use DIMMER parameter name in D::Light plugin
  plugins/d-light/export.js
  plugins/plugins.json
Labels: component-plugin

#832 Add fixture 'robe/robin-parfect-150'
  fixtures/robe/robin-parfect-150.json
Labels: new-fixture, via-editor

#839 QLC+ Physical: Round (more) values and harmonize versions
  plugins/plugins.json
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.12.1/export.js
Labels: component-plugin

#843 Update Nuxt to version 2.5.1
  main.js
  package.json
Labels: type-refactoring

#826 Add fixture 'afx/lmh460z'
  fixtures/afx/lmh460z.json
  fixtures/manufacturers.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture, via-editor

#842 Fix wrong categories / panMax / tiltMax
  fixtures/american-dj/dotz-par.json
  fixtures/eurolite/led-fe-1500.json
  fixtures/eurolite/led-svf-1.json
Labels: component-fixture, difficulty-easy, type-bug

#848 helpWanted improvements
  docs/model-api.md
  lib/model/Fixture.mjs
  ui/components/fixture-capability-table.vue
  ui/components/help-wanted-dialog.vue
  ui/components/help-wanted-message.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/about/plugins/_plugin.vue
Labels: component-model, component-ui

#840 Add fixture 'stage-right/stage-wash-7x10w-led-moving-head'
  fixtures/lixada/mini-moving-head-rgbw.json
  fixtures/manufacturers.json
  fixtures/stage-right/stage-wash-7x10w-led-moving-head.json
  tests/http-status.js
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: new-fixture, via-editor

#844 Add fixture 'pr-lighting/spot-xs-250'
  fixtures/manufacturers.json
  fixtures/pr-lighting/xs-250-spot.json
Labels: new-fixture, via-editor
