Repository OpenLightingProject/open-fixture-library, pull requests merged in 2019-06, with the labels that each got.

#926 Add fixture 'soundlight/3204r-h'
  fixtures/manufacturers.json
  fixtures/soundlight/3204r-h.json
Labels: new-fixture, via-editor

#922 Beam position
  docs/capability-types.md
  docs/model-api.md
  fixtures/glp/impression-laser.json
  fixtures/jb-systems/twin-effect-laser.json
  fixtures/laserworld/cs-1000rgb.json
  fixtures/laserworld/ds-1000rgb.json
  fixtures/sun-star/g-2011-nova.json
  lib/model/Capability.mjs
  lib/model/CoarseChannel.mjs
  lib/model/Entity.mjs
  plugins/ecue/import.js
  plugins/plugins.json
  schemas/capability.json
  schemas/definitions.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
  tests/test-fixtures.json
  tests/test-fixtures.md
  ui/components/editor-capabilities/BeamPosition.vue
  ui/components/editor-capability-type-data.vue
  ui/components/editor-proportional-capability-data-switcher.vue
Labels: component-editor, component-fixture, component-model, component-schema

#925 Add fixture 'stairville/octagon-theater-20x6w-cw-ww-a'
  fixtures/stairville/octagon-theater-20x6w-cw-ww-a.json
  ui/components/help-wanted-dialog.vue
Labels: new-fixture, via-editor

#929 Add Varytec BAR.PAR 6 fixtures
  fixtures/varytec/bat-par-6-rgbuv.json
  fixtures/varytec/bat-par-6-rgbwa.json
Labels: new-fixture, via-editor

#932 Add fixture 'elation/uni-bar'
  fixtures/elation/uni-bar.json
Labels: new-fixture, via-editor

#934 Add fixture 'generic/cw-ww-fader'
  fixtures/generic/cw-ww-fader.json
Labels: new-fixture, via-editor

#937 Restrict min/max percent DMX values in editor
  ui/components/editor-channel-dialog.vue
  ui/components/property-input-entity.vue
Labels: component-editor, type-bug

#942 Update eslint-plugin-promise to the latest version
  lib/create-github-pr.js
  package-lock.json
  package.json
  plugins/d-light/exportTests/attributes-correctness.js
  plugins/qlcplus_4.12.1/exportTests/fixture-tool-validation.js
Labels: greenkeeper, type-refactoring
