Repository OpenLightingProject/open-fixture-library, pull requests merged in 2019-08, with the labels that each got.

#984 Add fixture 'ghost/ip-spot-pro'
  fixtures/ghost/ip-spot-pro.json
Labels: new-fixture, via-editor

#990 Fix Continuous Deployment
  server/ecosystem.config.js
  server/redeploy.sh
  server/webhook.js
Labels: component-server, priority-high, type-bug

#992 Fix environment variables in webhook deployment script
  server/webhook.js
Labels: component-server, priority-high, type-bug

#993 Fix helpWanted dialog mailto URL
  ui/components/help-wanted-dialog.vue
Labels: component-ui, priority-low, type-bug

#994 Display dummy version in diff-plugin-outputs
  docs/plugins.md
  lib/diff-plugin-outputs.js
  plugins/d-light/export.js
  plugins/ecue/export.js
  plugins/millumin/export.js
  plugins/ofl/export.js
  plugins/op-z/export.js
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.12.1/export.js
Labels: component-plugin, component-test

#978 Upgrade QLC+ import plugin to 4.12.1 syntax
  plugins/plugins.json
  plugins/qlcplus_4.11.2/import.js
  plugins/qlcplus_4.12.1/export.js
  plugins/qlcplus_4.12.1/import.js
  plugins/qlcplus_4.12.1/presets.js
  tests/fixture-valid.js
Labels: component-plugin

#979 Improve HTTP status test
  .travis.yml
  cli/debug-env-variables.js
  docs/environment-variables.md
  lib/site-crawler.js
  package-lock.json
  package.json
  tests/external-links.js
  tests/http-status.js
Labels: component-test

#986 Add cameo IODA laser fixtures
  fixtures/cameo/ioda-1000-rgb.json
  fixtures/cameo/ioda-400-rgy.json
  fixtures/cameo/ioda-600-rgb.json
Labels: new-fixture, via-editor

#985 Add fixture 'clf/hera'
  fixtures/clf/hera.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#991 Add Fun Generation PicoSpot fixtures
  fixtures/fun-generation/picospot-20-led.json
  fixtures/fun-generation/picospot-45-led.json
Labels: new-fixture, via-editor

#1011 Fix a lot of broken links
  README.md
  fixtures/big-dipper/ls90.json
  fixtures/boomtonedj/xtrem-led.json
  fixtures/cameo/auro-spot-200.json
  fixtures/cameo/auro-spot-300.json
  fixtures/cameo/auro-spot-400.json
  fixtures/cameo/flat-par-can-rgb-10-ir.json
  fixtures/cameo/flat-par-can-tri-7x-3w-ir.json
  fixtures/cameo/multi-fx-bar.json
  fixtures/chroma-q/color-force-ii-12.json
  fixtures/chroma-q/color-force-ii-48.json
  fixtures/chroma-q/color-force-ii-72.json
  fixtures/flash-professional/led-par-64-slim-7x10w-rgbw-mk2.json
  fixtures/glp/knv-arc.json
  fixtures/glp/knv-cube.json
  fixtures/kam/gobotracer.json
  fixtures/lightmaxx/easy-wash-quad-led.json
  fixtures/look/viper-nt.json
  fixtures/magicfx/psyco2jet.json
  fixtures/magicfx/stage-flame.json
  fixtures/manufacturers.json
  fixtures/renkforce/gm107.json
  fixtures/robe/robin-ledbeam-100.json
  fixtures/robe/robin-parfect-150.json
  fixtures/solena/max-par-20.json
  plugins/op-z/plugin.json
  ui/pages/about/index.vue
Labels: component-fixture, component-ui, difficulty-easy, priority-high, type-bug

#995 Add fixture 'chauvet/intimidator-spot-260'
  fixtures/chauvet-dj/intimidator-spot-260.json
Labels: new-fixture, via-editor

#1002 Add fixture 'eurolite/led-tmh-17'
  fixtures/eurolite/led-tmh-17.json
Labels: new-fixture, via-editor

#1013 Disable pm2 cluster mode
  server/ecosystem.config.js
Labels: component-server, priority-high, type-bug

#1003 Add Event Lighting Par5x12 and Par12x12 fixtures
  fixtures/event-lighting/par12x12.json
  fixtures/event-lighting/par5x12.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#1005 Add fixture 'big-dipper/lp001'
  fixtures/big-dipper/lp001.json
Labels: new-fixture, via-editor

#1006 Add fixture 'showtec/compact-par-18'
  fixtures/showtec/compact-par-18.json
Labels: new-fixture, via-editor

#1009 Add fixture 'arri/broadcaster-2-plus'
  fixtures/arri/broadcaster-2-plus.json
Labels: new-fixture, via-editor

#1012 Add fixture 'stairville/afh-600'
  fixtures/stairville/afh-600.json
Labels: new-fixture, via-editor
