Repository OpenLightingProject/open-fixture-library, pull requests merged in 2019-01, with the labels that each got.

#720 Add 'elation/sixpar' fixture series
  fixtures/elation/sixpar-100-ip.json
  fixtures/elation/sixpar-100.json
  fixtures/elation/sixpar-200-ip.json
  fixtures/elation/sixpar-200-wmg.json
  fixtures/elation/sixpar-200.json
  fixtures/elation/sixpar-300-ip.json
  fixtures/elation/sixpar-300-wmg.json
  fixtures/elation/sixpar-300.json
  fixtures/register.json
Labels: new-fixture, via-editor

#721 Add fixture 'eliminator/stealth-wash-zoom'
  fixtures/eliminator/stealth-wash-zoom.json
  fixtures/register.json
Labels: new-fixture, via-editor

#724 Add helpWanted messages to ColorPreset capabilities with missing color
  fixtures/american-dj/boom-box-fx2.json
  fixtures/american-dj/revo-sweep.json
  fixtures/chauvet-dj/slimpar-pro-h-usb.json
  fixtures/chauvet-professional/colordash-batten-quad-6.json
  fixtures/chauvet-professional/rogue-r2-wash.json
  fixtures/chroma-q/color-force-ii-12.json
  fixtures/chroma-q/color-force-ii-48.json
  fixtures/chroma-q/color-force-ii-72.json
  fixtures/elation/acl-360-roller.json
  fixtures/equinox/gigabar.json
  fixtures/eurolite/led-tmh-7.json
  fixtures/eurolite/led-tmh-x25.json
  fixtures/laserworld/cs-1000rgb.json
  fixtures/robe/colorspot-2500e-at.json
Labels: component-fixture

#719 Add fixture 'evolight/colours-archspot-54-rgb'
  fixtures/evolight/colours-archspot-54-rgb.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#725 Add default Look Select colors to Chroma-Q Color Force II fixtures
  fixtures/chroma-q/color-force-ii-12.json
  fixtures/chroma-q/color-force-ii-48.json
  fixtures/chroma-q/color-force-ii-72.json
Labels: component-fixture

#727 Replace failing YouTube links
  fixtures/lightmaxx/dj-scan-led.json
  fixtures/stairville/mh-100.json
Labels: component-fixture

#728 Make test fixtures Markdown table easier to read
  cli/make-test-fixtures.js
  tests/test-fixtures.md
Labels: component-test, documentation, type-refactoring

#730 Add fixture 'laserworld/ds-1000rgb'
  fixtures/laserworld/ds-1000rgb.json
  fixtures/register.json
Labels: new-fixture, via-editor

#731 Model improvements
  docs/model-api.md
  lib/model/Capability.mjs
  lib/model/Entity.mjs
  lib/model/Matrix.mjs
  lib/model/Range.mjs
Labels: component-model

#733 Fix GitHub tests
  tests/github/export-diff.js
  tests/github/exports-valid.js
Labels: component-test, type-bug

#732 Minor fixture fixes
  fixtures/boomtonedj/crazy-spot-30.json
  fixtures/clay-paky/alpha-spot-qwo-800.json
  fixtures/martin/atomic-3000.json
Labels: component-fixture, type-bug

#734 Editor channel dialog: Open all invalid fields' enclosing details on submit
  ui/components/editor-channel-dialog.vue
Labels: component-editor

#737 Improve documentation
  docs/CONTRIBUTING.md
  docs/fixture-format.md
Labels: type-documentation

#740 Improve fixtures with wheels
  fixtures/5star-systems/spica-250m.json
  fixtures/abstract/twister-4.json
  fixtures/american-dj/auto-spot-150.json
  fixtures/american-dj/inno-pocket-fusion.json
  fixtures/american-dj/vizi-spot-led-pro.json
  fixtures/big-dipper/ls90.json
  fixtures/boomtonedj/crazy-spot-30.json
  fixtures/cameo/nanospot-120.json
  fixtures/clay-paky/alpha-spot-qwo-800.json
  fixtures/clay-paky/sharpy.json
  fixtures/clay-paky/spheriscan.json
  fixtures/coemar/prospot-250-lx.json
  fixtures/dts/xr1200-wash.json
  fixtures/elation/platinum-hfx.json
  fixtures/elation/platinum-spot-15r-pro.json
  fixtures/eurolite/led-tmh-x12.json
  fixtures/futurelight/dmh-75-i-led-moving-head.json
  fixtures/futurelight/sc-250-scanner.json
  fixtures/glp/impression-spot-one.json
  fixtures/hong-yi/hy-g60.json
  fixtures/jb-lighting/varyscan-p7.json
  fixtures/kam/gobotracer.json
  fixtures/lixada/mini-gobo-moving-head-light.json
  fixtures/martin/mac-600.json
  fixtures/martin/mac-700-wash.json
  fixtures/martin/mac-axiom-hybrid.json
  fixtures/martin/mac-viper-airfx.json
  fixtures/martin/mac-viper-performance.json
  fixtures/martin/mac-viper-wash.json
  fixtures/martin/roboscan-812.json
  fixtures/martin/rush-mh-2-wash.json
  fixtures/martin/rush-mh-3-beam.json
  fixtures/martin/rush-mh-7-hybrid.json
  fixtures/nicols/pat-252.json
  fixtures/prolights/v700spot.json
  fixtures/qtx/lux-ld30w.json
  fixtures/robe/colorspot-2500e-at.json
  fixtures/robe/dj-scan-250-xt.json
  fixtures/robe/robin-600e-spot.json
  fixtures/robe/robin-viva-cmy.json
  fixtures/showtec/kanjo-spot-60.json
  fixtures/showtec/phantom-140-led-spot.json
  fixtures/showtec/phantom-50-led-spot.json
  fixtures/stairville/mh-x25.json
  lib/model/Capability.mjs
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: component-fixture, component-model

#743 Add fixture 'martin/mania-scx500'
  fixtures/martin/mania-scx500.json
  fixtures/register.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture, via-editor

#744 Add fixture 'eurolite/ml-56-rgbw'
  fixtures/eurolite/led-ml-56-rgbw.json
  fixtures/register.json
Labels: new-fixture, via-editor

#745 Add fixture 'eurolite/led-pix-12-hcl'
  fixtures/eurolite/led-pix-12-hcl.json
  fixtures/register.json
Labels: new-fixture, via-editor

#746 Wheels fixes
  lib/model/Capability.mjs
  tests/fixture-valid.js
  ui/ajax/submit-editor.js
Labels: component-model, component-server, component-test, priority-high, type-bug

#747 Set JSON upload limit to 50MB
  main.js
Labels: component-server, type-bug

#748 Capability type improvements
  docs/capability-types.md
  schemas/capability.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
  ui/components/editor-capabilities/ColorPreset.vue
  ui/components/editor-capabilities/FrostEffect.vue
  ui/components/editor-capabilities/IrisEffect.vue
  ui/components/editor-capabilities/Rotation.vue
  ui/components/editor-capabilities/Speed.vue
  ui/components/editor-capabilities/StrobeSpeed.vue
  ui/components/editor-capabilities/WheelRotation.vue
Labels: component-editor, component-schema, type-bug

#749 Add fixture 'martin/mac-encore-performance'
  fixtures/martin/mac-encore-performance.json
  fixtures/register.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture, via-editor

#750 Fix and add a lot of fixture links
  fixtures/eurolite/led-tmh-x12.json
  fixtures/manufacturers.json
  fixtures/showtec/pixel-bar-12-mkii.json
  fixtures/showven/sparkular-fall.json
  fixtures/showven/sparkular.json
Labels: component-fixture

#751 Small style nudges
  ui/components/fixture-matrix.vue
  ui/components/header.vue
Labels: component-ui

#756 Add fixture 'robe/robin-ledbeam-100'
  fixtures/register.json
  fixtures/robe/robin-ledbeam-100.json
Labels: new-fixture, via-editor

#759 Add "Warm White" / "Cold White" colors and fixture 'generic/rgbww-fader'
  docs/capability-types.md
  docs/model-api.md
  fixtures/generic/rgbww-fader.json
  fixtures/register.json
  lib/model/Capability.mjs
  plugins/ecue/import.js
  plugins/millumin/export.js
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.12.0/export.js
  schemas/capability.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
  ui/components/svg.vue
Labels: new-fixture, via-editor
