Repository OpenLightingProject/open-fixture-library, pull requests merged in 2019-02, with the labels that each got.

#764 Update model API docs
  docs/model-api.md
Labels: type-documentation

#765 Use esm dependency instead of deprecated @std/esm
  lib/model.js
  package.json
Labels: component-model, type-refactoring

#769 Editor: Make different link types more obvious
  ui/assets/scripts/editor-utils.mjs
Labels: component-editor, component-ui

#767 Update dependencies
  lib/create-github-issue.js
  lib/create-github-pr.js
  package.json
  tests/github/pull-request.js
Labels: type-refactoring

#773 Improve navigation links' hover style on touch devices
  ui/assets/styles/mixins.scss
  ui/assets/styles/style.scss
  ui/components/header.vue
  ui/layouts/default.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: component-ui, priority-low

#757 Teenage Engineering OP-Z Plugin
  plugins/op-z/README.md
  plugins/op-z/export.js
  plugins/plugins.json
Labels: help wanted, new-plugin

#774 Add fixture 'eurolite/led-pix-144'
  fixtures/eurolite/led-pix-144.json
  fixtures/register.json
Labels: new-fixture, via-editor

#761 Add fixture 'mega-led-lighting/led-par-light-372'
  fixtures/manufacturers.json
  fixtures/mega-led-lighting/led-par-light-372.json
  fixtures/register.json
Labels: new-fixture, via-editor

#762 Add fixture 'mega-led-lighting/zoom-360'
  fixtures/mega-led-lighting/zoom-360.json
  fixtures/register.json
Labels: new-fixture, via-editor

#772 Add cameo Auro Spot fixtures
  fixtures/cameo/auro-spot-100.json
  fixtures/cameo/auro-spot-200.json
  fixtures/cameo/auro-spot-300.json
  fixtures/cameo/auro-spot-400.json
  fixtures/register.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture, via-editor

#776 Add issue template for new plugin
  .github/ISSUE_TEMPLATE/new-plugin.md
Labels: type-documentation

#778 Update ajv to version 6.9.1
  package.json
Labels: type-bug

#779 Fix mode name containing wrong channel number + add fixture test
  fixtures/clay-paky/alpha-spot-qwo-800.json
  fixtures/register.json
  tests/fixture-valid.js
Labels: component-fixture, component-test, type-bug

#783 Fix some failing links and add product pages
  fixtures/chroma-q/color-force-ii-12.json
  fixtures/chroma-q/color-force-ii-48.json
  fixtures/chroma-q/color-force-ii-72.json
  fixtures/mdg/hazer-atmosphere-aps.json
  fixtures/mdg/theone-atmospheric-generator.json
Labels: component-fixture, type-bug

#782 Update eslint-plugin-vue to version 5.2.1
  .eslintrc.json
  cli/export-fixture.js
  lib/model/Matrix.mjs
  main.js
  package.json
  server/webhook.js
  ui/components/download-button.vue
  ui/components/editor-capability.vue
  ui/components/editor-mode.vue
  ui/components/header.vue
  ui/components/property-input-boolean.vue
  ui/components/property-input-entity.vue
  ui/components/property-input-select.vue
  ui/pages/fixture-editor.vue
Labels: component-test

#781 Plugin UI
  cli/make-plugin-data.js
  main.js
  plugins/d-light/plugin.json
  plugins/ecue/plugin.json
  plugins/gdtf/plugin.json
  plugins/millumin/plugin.json
  plugins/ofl/plugin.json
  plugins/op-z/plugin.json
  plugins/plugins.json
  plugins/qlcplus_4.11.2/plugin.json
  plugins/qlcplus_4.12.0/plugin.json
  schemas/plugin.json
  ui/assets/icons/help-circle-outline.svg
  ui/assets/icons/icons.mjs
  ui/assets/icons/puzzle.svg
  ui/assets/styles/style.scss
  ui/components/download-button.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/_manufacturerKey/index.vue
  ui/pages/about/index.vue
  ui/pages/about/plugins/_plugin.vue
  ui/pages/about/plugins/index.vue
  ui/pages/categories/_category.vue
  ui/pages/import-fixture-file.vue
  ui/pages/index.vue
  ui/pages/search.vue
Labels: component-plugin, component-ui

#786 Fix small editor bugs
  ui/components/editor-channel-dialog.vue
  ui/components/editor-mode.vue
Labels: component-editor, type-bug

#787 Add fixture 'american-dj/inno-pocket-beam-q4'
  fixtures/american-dj/inno-pocket-beam-q4.json
  fixtures/register.json
Labels: new-fixture, via-editor

#788 Add fixture 'prolights/polar3000'
  fixtures/american-dj/inno-pocket-beam-q4.json
  fixtures/prolights/polar3000.json
  fixtures/register.json
Labels: new-fixture, via-editor

#789 Optional matrix physicals
  plugins/plugins.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
Labels: component-schema, difficulty-easy

#794 Use xmlbuilder's .dtd() instead of deprecated .doctype()
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.12.0/export.js
Labels: type-refactoring

#791 Add fixture 'cinetec/par-18x15w-rgbwa'
  fixtures/cinetec/par-18x15w-rgbwa.json
  fixtures/manufacturers.json
  fixtures/register.json
Labels: new-fixture, via-editor

#797 Add fixture 'elation/design-led-par-zoom'
  fixtures/elation/design-led-par-zoom.json
  fixtures/register.json
Labels: new-fixture, via-editor

#795 Add fixture 'beamz/h2000-faze-machine'
  fixtures/beamz/h2000-faze-machine.json
  fixtures/manufacturers.json
  fixtures/register.json
  tests/fixture-valid.js
Labels: new-fixture, via-editor

#796 Add fixture 'blizzard-lighting/rokbox-rgbw'
  fixtures/blizzard/rokbox-rgbw.json
  fixtures/register.json
Labels: new-fixture, via-editor

#798 Add fixture 'american-dj/mega-hex-par'
  fixtures/american-dj/mega-hex-par.json
  fixtures/register.json
Labels: new-fixture, via-editor

#799 Add fixture 'american-dj/encore-profile-1000-ww'
  fixtures/american-dj/encore-profile-1000-ww.json
  fixtures/register.json
Labels: new-fixture, via-editor
