Repository OpenLightingProject/open-fixture-library, pull requests merged in 2019-07, with the labels that each got.

#930 Add fixture 'astera/fp1-titan-tube'
  fixtures/astera/fp1-titan-tube.json
  fixtures/manufacturers.json
  tests/fixture-valid.js
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture, via-editor

#954 Don't add dmxValueResolution for single-capability channels in editor
  lib/get-out-object-from-editor-data.js
Labels: component-editor, priority-low, type-bug

#944 Add fixture 'etc/sourcefour-led-2'
  fixtures/etc/source-four-led-series-2-lustr.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#950 Add fixture 'american-dj/mega-tripar-profile-plus'
  fixtures/american-dj/mega-tripar-profile-plus.json
  tests/fixture-valid.js
Labels: new-fixture, via-editor

#943 Prefer async/await over Promise.then()
  .eslintrc.json
  cli/export-fixture.js
  cli/import-fixture.js
  cli/make-dereferenced-schemas.js
  cli/run-export-test.js
  docs/plugins.md
  lib/create-github-pr.js
  lib/diff-plugin-outputs.js
  lib/schema-properties.mjs
  main.js
  plugins/d-light/exportTests/attributes-correctness.js
  plugins/ecue/import.js
  plugins/gdtf/import.js
  plugins/qlcplus_4.11.2/import.js
  plugins/qlcplus_4.12.1/exportTests/fixture-tool-validation.js
  tests/github/export-diff.js
  tests/github/exports-valid.js
  tests/github/pull-request.js
  tests/github/schema-version-reminder.js
  tests/http-status.js
Labels: type-refactoring

#945 Add fixture 'glx/gls-4-led-stage-4'
  fixtures/glx/gls-4-led-stage-4.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#955 Fix sitemap
  lib/generate-sitemap.js
  tests/github/exports-valid.js
  tests/http-status.js
Labels: type-bug

#956 Fix some broken links
  fixtures/beamz/h2000-faze-machine.json
  fixtures/cameo/auro-spot-200.json
  fixtures/cameo/auro-spot-300.json
  fixtures/cameo/auro-spot-400.json
  fixtures/cameo/zenit-w600.json
  fixtures/manufacturers.json
Labels: component-fixture, type-bug

#957 Fix internal links in fixture format docs
  docs/fixture-format.md
Labels: priority-high, type-bug, type-documentation

#959 Fix dependency vulnerabilities with `npm audit fix`
  package-lock.json
Labels: type-bug

#951 Add fixture 'american-dj/mega-tripar-profile'
  fixtures/american-dj/mega-tripar-profile-plus.json
  fixtures/american-dj/mega-tripar-profile.json
Labels: new-fixture, via-editor

#961 Fix missing `await` in create GitHub PR function
  lib/create-github-pr.js
Labels: priority-high, type-bug

#952 Add fixture 'american-dj/cob-cannon-wash'
  fixtures/american-dj/cob-cannon-wash.json
Labels: new-fixture, via-editor

#946 Add fixture 'fun-generation/picoblade-fx-4x10w-rgbw'
  fixtures/fun-generation/picoblade-fx-4x10w-rgbw.json
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: new-fixture, via-editor

#965 Support plugins in submit helpWanted feedback dialog
  ui/ajax/submit-feedback.js
  ui/components/fixture-capability-table.vue
  ui/components/fixture-channel.vue
  ui/components/fixture-mode.vue
  ui/components/help-wanted-dialog.vue
  ui/components/help-wanted-message.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/about/plugins/_plugin.vue
Labels: component-ui

#953 Add fixture 'explo/x2-wave-flamer'
  fixtures/explo/x2-wave-flamer.json
Labels: new-fixture, via-editor

#958 Add fixture 'stairville/mh-x30-led-spot'
  fixtures/stairville/mh-x30.json
Labels: new-fixture, via-editor

#960 Add fixture 'griven/kolorado'
  fixtures/griven/kolorado-4000.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#964 Add fixture BoomToneDJ SilentPAR fixtures
  fixtures/boomtonedj/silentpar-12x10w-5in1.json
  fixtures/boomtonedj/silentpar-12x10w-6in1.json
  fixtures/boomtonedj/silentpar-12x3w-3in1.json
  fixtures/boomtonedj/silentpar-5x10w-5in1.json
  fixtures/boomtonedj/silentpar-5x10w-6in1.json
  fixtures/boomtonedj/silentpar-5x3w-3in1.json
  fixtures/boomtonedj/silentpar-7x10w-5in1.json
  fixtures/boomtonedj/silentpar-7x10w-6in1.json
  fixtures/boomtonedj/silentpar-7x3w-3in1.json
Labels: new-fixture, via-editor

#968 Add Ayrton Diablo fixtures
  fixtures/ayrton/diablo-s.json
  fixtures/ayrton/diablo-tc.json
Labels: new-fixture, via-editor

#969 Add fixture 'showtec/phantom-3r-beam'
  fixtures/showtec/phantom-3r-beam.json
Labels: new-fixture, via-editor

#970 Add fixture 'chauvet-dj/intimidator-spot-110'
  fixtures/chauvet-dj/intimidator-spot-110.json
Labels: new-fixture, via-editor

#971 Fix minor bugs
  lib/create-github-pr.js
  server/ecosystem.config.js
  tests/github/exports-valid.js
Labels: difficulty-easy, type-bug

#972 Add fixture 'ibiza-light/ls-005led'
  fixtures/ibiza-light/ls-005led.json
Labels: new-fixture, via-editor

#977 Minor editor UX improvements
  ui/assets/styles/style.scss
  ui/components/editor-capabilities/Effect.vue
  ui/components/editor-capabilities/ShutterStrobe.vue
  ui/components/editor-channel-dialog.vue
  ui/components/editor-proportional-capability-data-switcher.vue
  ui/components/property-input-boolean.vue
Labels: component-editor

#974 Lint code blocks in Markdown files
  .eslintrc.json
  docs/fixture-features.md
  docs/fixture-format.md
  docs/fixture-model.md
  docs/plugins.md
  package-lock.json
  package.json
  tests/lint.js
Labels: component-test, type-documentation

#976 Make more functions async
  lib/create-github-pr.js
  lib/diff-plugin-outputs.js
  plugins/d-light/export.js
  plugins/ecue/export.js
  plugins/millumin/export.js
  plugins/millumin/exportTests/json-schema-conformity.js
  plugins/ofl/export.js
  plugins/op-z/export.js
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.12.1/export.js
Labels: type-refactoring

#980 Hide empty links section on fixture page if there are only videos
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: component-ui, type-bug

#981 Add fixture 'acoustic-control/par-180-cob-3in1'
  fixtures/acoustic-control/par-180-cob-3in1.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#982 Add fixture 'cameo/instant-air-1000-pro'
  fixtures/cameo/instant-air-1000-pro.json
Labels: new-fixture, via-editor

#983 Add fixture 'cameo/instant-air-2000-pro'
  fixtures/cameo/instant-air-2000-pro.json
Labels: new-fixture, via-editor
