Repository OpenLightingProject/open-fixture-library, pull requests merged in 2019-10, with the labels that each got.

#1026 Add fixture 'eurolite/outdoor-led-strobe-rgb'
  fixtures/eurolite/multiflood-pro-ip-smd-rgbw.json
Labels: new-fixture, via-editor

#1024 Add fixture 'beamz/triple-flex-centre-pro-led'
  fixtures/beamz/triple-flex-centre-pro-led.json
Labels: new-fixture, via-editor

#1015 Add fixture 'showline/sl-nitro-510c'
  fixtures/manufacturers.json
  fixtures/showline/sl-nitro-510c.json
Labels: new-fixture, via-editor

#1037 Add fixture 'lite-tek/beam-230'
  fixtures/lite-tek/beam-230.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#1056 Use eslint-plugin-jsdoc (closes #1050)
  .eslintrc.json
  docs/fixture-model.md
  docs/model-api.md
  docs/plugins.md
  lib/create-github-pr.js
  lib/diff-plugin-outputs.js
  lib/model/AbstractChannel.js
  lib/model/Fixture.js
  lib/model/Mode.js
  package-lock.json
  package.json
  plugins/d-light/export.js
  plugins/d-light/exportTests/attributes-correctness.js
  plugins/ecue/export.js
  plugins/ecue/import.js
  plugins/gdtf/gdtf-attributes.js
  plugins/gdtf/import.js
  plugins/millumin/export.js
  plugins/millumin/exportTests/json-schema-conformity.js
  plugins/ofl/export.js
  plugins/op-z/export.js
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.11.2/exportTests/xsd-schema-conformity.js
  plugins/qlcplus_4.12.1/export.js
  plugins/qlcplus_4.12.1/exportTests/fixture-tool-validation.js
  plugins/qlcplus_4.12.1/exportTests/xsd-schema-conformity.js
  plugins/qlcplus_4.12.1/import.js
  plugins/qlcplus_4.12.1/presets.js
  tests/fixture-valid.js
  tests/fixtures-valid.js
  tests/github/export-diff.js
Labels: component-test, difficulty-medium, type-documentation, type-refactoring

#1049 Add fixture 'stairville/af-180-led-fogger'
  fixtures/stairville/af-180-led-fogger.json
Labels: new-fixture, via-editor

#1046 Add Martin Stagebar 54 Fixtures
  fixtures/martin/stagebar-54l.json
  fixtures/martin/stagebar-54s.json
Labels: new-fixture, via-editor

#1047 Add fixture 'martin/mac-250-krypton'
  fixtures/martin/mac-250-krypton.json
Labels: new-fixture, via-editor

#1053 Add fixture 'briteq/bt-stagepar-6in1'
  fixtures/briteq/bt-stagepar-6in1.json
Labels: new-fixture, via-editor

#1059 Add fixture 'lep-laser-entertainment-products/diamond-pro-2-8'
  fixtures/lep-laser/diamond-pro-2-8.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#1079 UI fixes
  ui/components/editor/EditorCapabilityWizard.vue
  ui/components/editor/EditorChooseChannelEditModeDialog.vue
  ui/components/editor/EditorRestoreDialog.vue
  ui/components/fixture-page/FixturePageMode.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/fixture-editor.vue
Labels: component-ui, type-bug

#1062 Add fixture 'empire-lighting/8x-3w-led-spider-effect'
  fixtures/empire-lighting/8x-3w-led-spider-effect.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#1071 Add ETC ColorSource Spot fixtures
  fixtures/etc/colorsource-spot-deep-blue.json
  fixtures/etc/colorsource-spot.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#1089 Fix some broken links
  fixtures/cameo/auro-spot-300.json
  fixtures/dedolight/dled4-bi.json
  fixtures/dedolight/dled7-bi.json
  fixtures/magicfx/psyco2jet.json
  fixtures/magicfx/stage-flame.json
  fixtures/manufacturers.json
  tests/external-links.js
Labels: component-fixture, type-bug

#1070 Add fixture 'silver-star/mx-indigo-6000xe'
  fixtures/manufacturers.json
  fixtures/silver-star/mx-indigo-6000xe.json
Labels: new-fixture, via-editor

#1075 Add fixture 'american-dj/illusion-dotz-4-4'
  fixtures/american-dj/illusion-dotz-4-4.json
Labels: new-fixture, via-editor

#1072 Add ETC ColorSource PAR fixtures
  fixtures/etc/colorsource-par-deep-blue.json
  fixtures/etc/colorsource-par.json
Labels: new-fixture, via-editor

#1095 Add fixture 'stairville/par-56'
  fixtures/stairville/par-56.json
Labels: new-fixture, via-editor

#1076 Add fixture Elation CUEPIX Blinder WW fixtures
  fixtures/elation/cuepix-blinder-ww2.json
  fixtures/elation/cuepix-blinder-ww4.json
Labels: new-fixture, via-editor

#1098 Implement user feedback in stage-right/stage-wash-7x10w-led-mov…
  fixtures/stage-right/stage-wash-7x10w-led-moving-head.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: component-fixture

#1099 Update Node.js to version 12
  .travis.yml
  package-lock.json
  package.json
Labels: component-server
