Repository OpenLightingProject/open-fixture-library, pull requests merged in 2019-05, with the labels that each got.

#887 Set fixture download HTTP status code to 200
  main.js
  tests/github/exports-valid.js
  tests/http-status.js
Labels: component-ui, priority-high, type-bug

#884 Add fixture 'rockville/rockpar50-compact-rgb-led-par-wash'
  fixtures/manufacturers.json
  fixtures/rockville/rockpar50.json
Labels: new-fixture, via-editor

#886 Add Fun Generation SePar Quad LED fixtures
  fixtures/fun-generation/separ-quad-led-rgb-uv.json
  fixtures/fun-generation/separ-quad-led-rgbw.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#892 Add open graph meta tags and image
  nuxt.config.js
  ui/layouts/error.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/_manufacturerKey/index.vue
  ui/pages/about/index.vue
  ui/pages/about/plugins/_plugin.vue
  ui/pages/about/plugins/index.vue
  ui/pages/categories/_category.vue
  ui/pages/categories/index.vue
  ui/pages/fixture-editor.vue
  ui/pages/import-fixture-file.vue
  ui/pages/manufacturers.vue
  ui/pages/rdm.vue
  ui/pages/search.vue
  ui/static/open-graph.png
  ui/static/open-graph.svg
Labels: component-ui, difficulty-easy

#890 Add fixture 'american-dj/dekker-led'
  fixtures/american-dj/dekker-led.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#891 Add fixture 'american-dj/crazy-pocket-8'
  fixtures/american-dj/crazy-pocket-8.json
Labels: new-fixture, via-editor

#898 Add fixture 'fun-generation/picowash-40-pixel-quad-led'
  fixtures/fun-generation/picowash-40-pixel-quad-led.json
Labels: new-fixture, via-editor

#897 Add fixture 'stairville/led-bar-240-8'
  fixtures/stairville/led-bar-240-8.json
Labels: new-fixture, via-editor

#899 Add fixture 'ignition/led-accu-par'
  fixtures/ignition/led-accu-par.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#904 Use "format" in JSON schemas
  lib/schema-properties.mjs
  plugins/millumin/exportTests/json-schema-conformity.js
  plugins/plugins.json
  schemas/capability.json
  schemas/definitions.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/manufacturers.json
  schemas/matrix.json
  schemas/plugin.json
  tests/fixture-valid.js
  tests/http-status.js
Labels: component-schema, component-test, type-refactoring

#900 Add fixture 'showtec/archi-painter-24-8-q4'
  fixtures/showtec/archi-painter-24-8-q4.json
Labels: new-fixture, via-editor

#906 Explicitly upgrade esm to version 3.2.25
  package-lock.json
  package.json
Labels: greenkeeper

#907 Revert "Explicitly upgrade esm to version 3.2.25"
  package-lock.json
  package.json
Labels: priority-high, type-bug

#908 Pin esm to version 3.2.22
  package-lock.json
  package.json
  tests/http-status.js
Labels: component-ui, priority-high, type-bug

#902 Add fixture 'cameo/multi-fx-bar'
  fixtures/cameo/multi-fx-bar.json
Labels: new-fixture, via-editor

#875 Fix Powerlighting Wash according to feedback
  fixtures/powerlighting/wash-84w.json
Labels: component-fixture, difficulty-hard

#909 Fixture fixes
  fixtures/american-dj/auto-spot-150.json
  fixtures/american-dj/inno-pocket-fusion.json
  fixtures/american-dj/xs-400.json
  fixtures/arri/skypanel-s30c.json
  fixtures/cameo/storm.json
  fixtures/clay-paky/alpha-spot-qwo-800.json
  fixtures/clay-paky/show-batten-100.json
  fixtures/eliminator/stealth-wash-zoom.json
  fixtures/epsilon/duo-q-beam-bar.json
  fixtures/eurolite/led-svf-1.json
  fixtures/evolight/colours-archspot-54-rgb.json
  fixtures/futurelight/sc-250-scanner.json
  fixtures/glp/impression-fr1.json
  fixtures/glp/impression-spot-one.json
  fixtures/glp/impression-x4-bar-10.json
  fixtures/glp/jdc1.json
  fixtures/gruft/ventilator.json
  fixtures/minuit-une/ivl-carre.json
  fixtures/robe/robin-300e-wash.json
  fixtures/showtec/led-light-bar-rgb-v3.json
  fixtures/skypix/ribalta-beam.json
Labels: component-fixture, type-bug, type-refactoring

#912 Add fixture 'elation/proteus-hybrid'
  fixtures/elation/proteus-hybrid.json
Labels: new-fixture, via-editor

#913 Plugin and fixture test improvements
  fixtures/eurolite/led-pix-144.json
  plugins/millumin/export.js
  plugins/qlcplus_4.12.1/export.js
  tests/fixture-valid.js
Labels: component-fixture, component-plugin, component-test

#918 Redirect fixtures in model: Use correct key/name
  cli/make-test-fixtures.js
  lib/fixture-features/redirect-reasons.js
  lib/model.js
  lib/schema-properties.mjs
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: component-model

#921 Update @octokit/rest to version 16.27.1
  package-lock.json
  package.json
Labels: greenkeeper

#915 Add fixture 'flash-professional/flash-300w-cob-led-wash'
  fixtures/flash-professional/led-par-64-cob-300w-rgbwauv.json
Labels: new-fixture, via-editor

#916 Add fixture 'apelabs/lightcan'
  fixtures/ape-labs/lightcan.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#919 Add fixture 'explo/gx2-flameprojector'
  fixtures/explo/gasprojector-gx2.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor
