Repository OpenLightingProject/open-fixture-library, pull requests merged in 2020-02, with the labels that each got.

#1185 Add gobo resource handling
  cli/run-export-test.js
  docs/README.md
  docs/fixture-format.md
  docs/fixture-model.md
  docs/model-api.md
  fixtures/showtec/phantom-50-led-spot.json
  lib/fixture-features/wheels.js
  lib/model.js
  lib/model/Resource.js
  lib/model/WheelSlot.js
  main.js
  plugins/d-light/exportTests/attributes-correctness.js
  plugins/millumin/exportTests/json-schema-conformity.js
  plugins/plugins.json
  plugins/qlcplus_4.12.1/export.js
  plugins/qlcplus_4.12.1/exportTests/fixture-tool-validation.js
  plugins/qlcplus_4.12.1/exportTests/xsd-schema-conformity.js
  plugins/qlcplus_4.12.1/import.js
  plugins/qlcplus_4.12.1/presets.js
  resources/gobos/3-fold-swirl.json
  resources/gobos/3-fold-swirl.svg
  resources/gobos/aliases/qlcplus.json
  resources/gobos/biohazard.json
  resources/gobos/biohazard.svg
  resources/gobos/dot-spiral.json
  resources/gobos/dot-spiral.svg
  resources/gobos/glass-raindrops-on-window.json
  resources/gobos/glass-raindrops-on-window.png
  resources/gobos/glass-red-10-circles.json
  resources/gobos/glass-red-10-circles.svg
  resources/gobos/rose-petal.json
  resources/gobos/rose-petal.svg
  resources/gobos/triangle-hexagon-pattern.json
  resources/gobos/triangle-hexagon-pattern.svg
  schemas/definitions.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/gobo.json
  schemas/manufacturers.json
  schemas/wheel-slot.json
  tests/fixture-valid.js
  tests/github/exports-valid.js
  tests/test-fixtures.json
  tests/test-fixtures.md
  ui/components/CapabilityTypeIcon.vue
  ui/components/fixture-page/FixturePageCapabilityTable.vue
  ui/components/fixture-page/FixturePageWheel.vue
  ui/components/global/OflSvg.vue
Labels: component-fixture, component-model, component-plugin, component-schema, component-test, component-ui

#1157 Add fixture 'showtec/phantom-matrix-fx'
  fixtures/showtec/phantom-matrix-fx.json
Labels: new-fixture, via-editor

#1191 Narrow last results column in broken links issue
  tests/external-links.js
Labels: component-test

#1158 Add fixture 'infinity/iw-720-rdm'
  fixtures/infinity/iw-720-rdm.json
Labels: new-fixture, via-editor

#1159 Add fixture 'chauvet-dj/kinta-x'
  fixtures/chauvet-dj/kinta-x.json
Labels: new-fixture, via-editor

#1200 Rename GitHub label `type-bug` → `bug`
  ui/components/HelpWantedMessage.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/index.vue
Labels: component-ui, refactoring

#1173 Add fixture 'laserworld/shownet'
  fixtures/laserworld/shownet.json
Labels: new-fixture, via-editor

#1170 Add Fractal Lights PAR LED 7 fixtures
  fixtures/fractal-lights/par-led-7x10w.json
  fixtures/fractal-lights/par-led-7x12w.json
  fixtures/fractal-lights/par-led-7x9w.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#1174 Add fixture 'varytec/led-hellball-3-rgb'
  fixtures/varytec/led-hellball-3-rgb.json
Labels: new-fixture, via-editor

#1175 Add fixture 'eurolite/n-150'
  fixtures/eurolite/n-150.json
Labels: new-fixture, via-editor

#1184 Add fixture 'showtec/compact-par-7-tri'
  fixtures/showtec/compact-par-7-tri.json
Labels: new-fixture, via-editor

#1204 Rename QLC+ plugin to 4.12.2
  plugins/plugins.json
  plugins/qlcplus_4.12.2/export.js
  plugins/qlcplus_4.12.2/exportTests/fixture-tool-validation.js
  plugins/qlcplus_4.12.2/exportTests/xsd-schema-conformity.js
  plugins/qlcplus_4.12.2/import.js
  plugins/qlcplus_4.12.2/plugin.json
  plugins/qlcplus_4.12.2/presets.js
Labels: component-plugin, difficulty-easy

#1205 Fix some dark mode issues
  ui/assets/styles/style.scss
  ui/assets/styles/vars.scss
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/about/plugins/_plugin.vue
Labels: bug, component-ui

#1208 Add new `6ch2` mode to cameo Thunder Wash 100/600 RGB
  fixtures/cameo/thunder-wash-100-rgb.json
  fixtures/cameo/thunder-wash-600-rgb.json
Labels: component-fixture
