Repository OpenLightingProject/open-fixture-library, pull requests merged in 2020-09, with the labels that each got.

#1454 Show banner for Global Day of Climate Action
  ui/components/ClimateStrikeBanner.vue
  ui/layouts/default.vue
Labels: component-ui

#1465 Fix AGLight plugin corrupting other export plugins
  plugins/aglight/export.js
Labels: bug, priority-high

#1453 Fix some broken links
  fixtures/afx/lmh460z.json
  fixtures/gantom/precision-dmx.json
  fixtures/ibiza-light/lp64-led-promo.json
  fixtures/manufacturers.json
  fixtures/mega-led-lighting/zoom-360.json
  ui/components/ClimateStrikeBanner.vue
Labels: bug, component-fixture

#1267 Add fixture 'jb-systems/imove-5s'
  fixtures/jb-systems/imove-5s.json
Labels: new-fixture, via-editor

#1268 Add Eurolite LED SLS 5/12 BCL fixtures
  fixtures/eurolite/led-sls-12-bcl.json
  fixtures/eurolite/led-sls-5-bcl.json
Labels: new-fixture, via-editor

#1468 Add ARRI L-Series fixtures
  fixtures/arri/l10-c.json
  fixtures/arri/l5-c.json
  fixtures/arri/l7-c.json
Labels: new-fixture

#1474 Update README badges
  README.md
Labels: documentation
