Repository OpenLightingProject/open-fixture-library, pull requests merged in 2020-10, with the labels that each got.

#1471 Dragonframe export plugin
  plugins/dragonframe/export.js
  plugins/dragonframe/exportTests/json-schema-conformity.js
  plugins/dragonframe/plugin.json
  plugins/plugins.json
Labels: new-plugin

#1492 Add links explaining fixture usage
  ui/pages/about/plugins/_plugin.vue
  ui/pages/about/plugins/index.vue
  ui/pages/index.vue
Labels: component-ui

#1496 Add missing ARRI Skypanel fixture variants
  fixtures/arri/skypanel-s120c.json
  fixtures/arri/skypanel-s360c.json
  fixtures/arri/skypanel-s60c.json
Labels: new-fixture

#1506 Enable more ESLint rules
  .eslintrc.json
  lib/create-github-issue.js
  lib/create-github-pr.js
  lib/diff-plugin-outputs.js
  lib/model/Mode.js
  lib/model/TemplateChannel.js
  package.json
  plugins/ecue/export.js
  plugins/gdtf/import.js
  plugins/qlcplus_4.12.2/import.js
  server/webhook.js
  tests/dmx-value-scaling.js
  tests/external-links.js
  tests/github/schema-version-reminder.js
  ui/assets/scripts/editor-utils.js
  ui/components/A11yDialog.vue
  ui/components/HeaderBar.vue
  ui/components/HelpWantedDialog.vue
  ui/components/PropertyInputDimensions.vue
  ui/components/PropertyInputEntity.vue
  ui/components/PropertyInputRange.vue
  ui/components/PropertyInputText.vue
  ui/components/PropertyInputTextarea.vue
  ui/components/ThemeSwitcher.vue
  ui/components/editor/EditorCapability.vue
  ui/components/editor/EditorCapabilityTypeData.vue
  ui/components/editor/EditorCapabilityWizard.vue
  ui/components/editor/EditorCategoryChooser.vue
  ui/components/editor/EditorChannelDialog.vue
  ui/components/editor/EditorChooseChannelEditModeDialog.vue
  ui/components/editor/EditorFileUpload.vue
  ui/components/editor/EditorLinks.vue
  ui/components/editor/EditorMode.vue
  ui/components/editor/EditorPhysical.vue
  ui/components/editor/EditorProportionalPropertySwitcher.vue
  ui/components/editor/EditorRestoreDialog.vue
  ui/components/editor/EditorSubmitDialog.vue
  ui/components/editor/EditorWheelSlot.vue
  ui/components/fixture-page/FixturePageMode.vue
  ui/layouts/default.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/about/plugins/_plugin.vue
  ui/pages/categories/_category.vue
  ui/pages/fixture-editor.vue
  ui/pages/import-fixture-file.vue
  ui/pages/index.vue
  ui/pages/search.vue
Labels: refactoring

#1547 Separate some editor components
  .eslintrc.json
  ui/components/editor/EditorFixtureInformation.vue
  ui/components/editor/EditorLink.vue
  ui/components/editor/EditorLinks.vue
  ui/components/editor/EditorManufacturer.vue
  ui/components/editor/EditorPhysical.vue
  ui/components/editor/EditorProportionalPropertySwitcher.vue
  ui/pages/fixture-editor.vue
Labels: component-editor, component-ui

#1548 Fix scoped CSS issues
  ui/components/HelpWantedMessage.vue
  ui/components/editor/EditorPhysical.vue
  ui/components/fixture-page/FixturePageChannel.vue
  ui/components/fixture-page/FixturePageMode.vue
Labels: bug, component-ui
