Repository OpenLightingProject/open-fixture-library, pull requests merged in 2020-03, with the labels that each got.

#1218 Add Snyk badge to README
  README.md
Labels: dependencies

#1232 Fix fixture editor backend
  lib/create-github-pr.js
Labels: bug, component-editor

#1234 Really fix fixture editor backend
  lib/create-github-pr.js
Labels: bug, component-editor

#1239 Automatically label Snyk PRs
  .github/workflows/label.yml
Labels: dependencies

#1241 Fix some broken links
  fixtures/american-dj/encore-profile-1000-ww.json
  fixtures/ape-labs/lightcan.json
  fixtures/cinetec/par-18x15w-rgbwa.json
  fixtures/dts/scena-led-150.json
  fixtures/dts/xr1200-wash.json
  fixtures/dts/xr4-spot.json
  fixtures/elation/platinum-hfx.json
  fixtures/elation/platinum-seven.json
  fixtures/elation/sixpar-100-ip.json
  fixtures/elation/sixpar-100.json
  fixtures/elation/sixpar-200-ip.json
  fixtures/elation/sixpar-200.json
  fixtures/elation/sixpar-300-ip.json
  fixtures/elation/sixpar-300.json
  fixtures/fractal-lights/par-led-7x10w.json
  fixtures/fractal-lights/par-led-7x12w.json
  fixtures/fractal-lights/par-led-7x9w.json
  fixtures/ghost/ip-spot-bat.json
  fixtures/ghost/ip-spot-pro.json
  fixtures/ibiza-light/lp64-led-promo.json
  fixtures/laserworld/ds-1000rgb.json
  fixtures/magicfx/psyco2jet.json
  fixtures/magicfx/stage-flame.json
  fixtures/manufacturers.json
  fixtures/solena/max-par-20.json
  fixtures/solena/mini-par-12.json
Labels: component-fixture

#1190 Add fixture 'studio-due/light-deflector'
  fixtures/manufacturers.json
  fixtures/studio-due/light-deflector.json
Labels: new-fixture, via-editor

#1187 Add fixture 'phocea-light/box-leds-batterie-6x15w'
  fixtures/manufacturers.json
  fixtures/phocea-light/box-leds-batterie-6x15w.json
Labels: new-fixture, via-editor

#1242 Allow downloading preview fixtures when importing
  main.js
  ui/ajax/import-fixture-file.js
  ui/ajax/submit-editor.js
  ui/components/DownloadButton.vue
  ui/components/editor/EditorFileUpload.vue
  ui/components/editor/EditorSubmitDialog.vue
  ui/pages/fixture-editor.vue
  ui/pages/import-fixture-file.vue
Labels: component-editor

#1243 Make JSON Schema errors more human-readable
  lib/get-ajv-error-messages.js
  tests/fixture-valid.js
  tests/fixtures-valid.js
Labels: component-test

#1244 QLC+ import improvements
  plugins/plugins.json
  plugins/qlcplus_4.12.2/import.js
  plugins/qlcplus_4.12.2/presets.js
Labels: component-plugin

#1192 Add fixture 'briteq/btx-titan'
  fixtures/briteq/btx-titan.json
Labels: new-fixture, via-editor

#1246 Add fixture 'sgm/p-5'
  fixtures/manufacturers.json
  fixtures/sgm/p-5.json
Labels: new-fixture, via-editor

#1249 Add links to documentation from About page
  docs/README.md
  ui/pages/about/index.vue
Labels: component-ui, documentation

#1197 Add fixture 'gantom/precision-dmx'
  fixtures/gantom/precision-dmx.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#1202 Add fixture 'beamz/pls25-par'
  fixtures/beamz/pls25-par.json
  fixtures/sgm/p-5.json
Labels: new-fixture, via-editor

#1203 Add fixture 'cameo/auro-beam-150'
  fixtures/cameo/auro-beam-150.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture, via-editor

#1254 Fix Gantom Precision DMX
  fixtures/gantom/precision-dmx.json
Labels: bug, component-fixture

#1255 Make schema errors more human-readable in Millumin export test, too
  plugins/millumin/exportTests/json-schema-conformity.js
Labels: component-plugin, component-test

#1209 Add fixture 'lightmaxx/vector-pixel-bar'
  fixtures/lightmaxx/vector-pixel-bar-18x-15w-rgbwa.json
Labels: new-fixture, via-editor

#1250 Add fixture 'astera/ax3-lightdrop'
  fixtures/astera/ax3-lightdrop.json
Labels: new-fixture, via-editor

#1235 Add fixture 'starway/servo-color-4k'
  fixtures/starway/servo-color-4k.json
Labels: new-fixture, via-editor

#1253 Add fixture 'eurolite/led-tmh-8'
  fixtures/eurolite/led-tmh-8.json
Labels: new-fixture, via-editor
