Repository OpenLightingProject/open-fixture-library, pull requests merged in 2020-07, with the labels that each got.

#1280 Update GDTF plugin to GDTF v1.0
  plugins/gdtf/deprecated-gdtf-attributes.js
  plugins/gdtf/gdtf-attributes.js
  plugins/gdtf/gdtf-helpers.js
  plugins/gdtf/import.js
  plugins/gdtf/plugin.json
  plugins/plugins.json
Labels: component-plugin

#1266 Document and serve API with OpenAPI
  Makefile
  docs/rest-api.md
  docs/ui.md
  package-lock.json
  package.json
  ui/api/index.js
  ui/api/openapi.json
  ui/api/routes/fixtures/from-editor.js
  ui/api/routes/fixtures/from-editor.json
  ui/api/routes/fixtures/import.js
  ui/api/routes/fixtures/import.json
  ui/api/routes/fixtures/submit.js
  ui/api/routes/fixtures/submit.json
  ui/api/routes/get-search-results.js
  ui/api/routes/get-search-results.json
  ui/api/routes/submit-feedback.js
  ui/api/routes/submit-feedback.json
Labels: component-ui, documentation, refactoring

#1342 Fix OpenAPI schema
  docs/rest-api.md
  ui/api/routes/fixtures/submit.json
Labels: bug, component-editor

#1365 Don't check auto-generated Open Lighting RDM links
  tests/external-links.js
Labels: component-test

#1363 Add fixture 'stairville/mh-x50'
  fixtures/stairville/mh-x50.json
Labels: new-fixture, via-editor

#1348 Theme switcher improvements
  nuxt.config.js
  package-lock.json
  package.json
  ui/components/ThemeSwitcher.vue
Labels: component-ui

#1364 Add fixture 'showlite/lb-4390'
  fixtures/manufacturers.json
  fixtures/showlite/lb-4390.json
Labels: new-fixture, via-editor

#1375 Add Stairville MH-X50+ gobos
  fixtures/stairville/mh-x50.json
  resources/gobos/10-circles.json
  resources/gobos/10-circles.svg
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: component-fixture

#1382 Switch from color-names to color-name-list
  package-lock.json
  package.json
  plugins/ecue/import.js
Labels: component-plugin, dependencies, refactoring

#1389 Simplify icon loading
  ui/assets/icons/icons.js
Labels: component-ui, refactoring

#1390 Bump lodash from 4.17.15 to 4.17.19
  package-lock.json
Labels: dependencies

#1392 Create and use plugins REST API
  docs/rest-api.md
  main.js
  ui/api/index.js
  ui/api/openapi.json
  ui/api/routes/plugins/_pluginKey.js
  ui/api/routes/plugins/_pluginKey.json
  ui/api/routes/plugins/index.js
  ui/api/routes/plugins/index.json
  ui/components/DownloadButton.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/about/plugins/_plugin.vue
  ui/pages/about/plugins/index.vue
  ui/pages/import-fixture-file.vue
Labels: component-ui, refactoring

#1394 Fix some broken links
  docs/CONTRIBUTING.md
  docs/capability-types.md
  docs/environment-variables.md
  docs/fixture-format.md
  docs/plugins.md
  docs/testing.md
  docs/ui.md
  fixtures/fractal-lights/par-led-7x10w.json
  fixtures/fractal-lights/par-led-7x12w.json
  fixtures/fractal-lights/par-led-7x9w.json
  fixtures/ibiza-light/lp64-led-promo.json
  fixtures/manufacturers.json
  fixtures/martin/mania-scx500.json
  fixtures/mdg/hazer-atmosphere-aps.json
  fixtures/mdg/theone-atmospheric-generator.json
  fixtures/pr-lighting/xs-250-spot.json
Labels: bug, component-fixture, documentation

#1357 Add AGLight Export Plugin
  lib/model.js
  plugins/aglight/export.js
  plugins/aglight/plugin.json
  plugins/plugins.json
Labels: new-plugin
