Repository OpenLightingProject/open-fixture-library, pull requests merged in 2020-05, with the labels that each got.

#1206 Add fixture 'generic/grbw'
  fixtures/generic/grbw-fader.json
Labels: new-fixture, via-editor

#1258 Add fixture 'lalucenatz/disco-effects-lighting'
  fixtures/lalucenatz/dj-lights.json
Labels: new-fixture, via-editor

#1271 Add fixture 'uking/mini-led-spot-25w'
  fixtures/manufacturers.json
  fixtures/uking/mini-led-spot-25w.json
Labels: new-fixture, via-editor

#1270 Add fixture 'chauvet-dj/motiondrape-led'
  fixtures/chauvet-dj/motiondrape-led.json
Labels: new-fixture, via-editor

#1272 Fix some broken links
  fixtures/ape-labs/lightcan.json
  fixtures/ibiza-light/lp64-led-promo.json
  fixtures/laserworld/cs-1000rgb.json
  fixtures/manufacturers.json
  fixtures/mega-led-lighting/zoom-360.json
  fixtures/robe/spot-160-xt.json
Labels: component-fixture

#1275 Upgrade dependencies
  cli/make-dereferenced-schemas.js
  package-lock.json
  package.json
Labels: dependencies

#1288 Incorporate lixada/mini-gobo-moving-head-light feedback
  fixtures/lixada/mini-gobo-moving-head-light.json
Labels: component-fixture

#1290 Update dependencies
  .eslintrc.json
  package-lock.json
  package.json
Labels: dependencies

#1295 Enable `radix` ESLint rule
  .eslintrc.json
  lib/model/Matrix.js
  package.json
  plugins/ecue/import.js
  plugins/gdtf/gdtf-attributes.js
  plugins/gdtf/import.js
  plugins/qlcplus_4.12.2/import.js
  tests/dmx-value-scaling.js
  tests/fixture-valid.js
  ui/pages/rdm.vue
  ui/plugins/vue-form.js
Labels: refactoring

#1263 Preview fixture page before submitting
  ui/assets/styles/style.scss
  ui/assets/styles/vars.scss
  ui/components/A11yDialog.vue
  ui/components/editor/EditorSubmitDialog.vue
  ui/components/fixture-page/FixturePage.vue
  ui/components/global/OflTime.vue
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: component-editor, component-ui

#1296 Update dependencies
  package-lock.json
  package.json
Labels: dependencies

#1297 Revert dialog style changes from #1263
  ui/components/A11yDialog.vue
Labels: bug, component-ui
