Repository OpenLightingProject/open-fixture-library, pull requests merged in 2020-01, with the labels that each got.

#1164 Make some components functional
  ui/components/CapabilityTypeIcon.vue
  ui/components/ChannelTypeIcon.vue
  ui/components/LabeledValue.vue
  ui/components/PropertyInputEntity.vue
  ui/components/fixture-page/FixturePageChannel.vue
  ui/components/fixture-page/FixturePageMatrix.vue
  ui/components/fixture-page/FixturePageWheel.vue
  ui/components/global/OflSvg.vue
Labels: component-ui, type-refactoring

#1172 Add Eurolite LED Bar-3 HCL fixture
  fixtures/eurolite/led-bar-3-hcl-bar.json
  fixtures/manufacturers.json
Labels: new-fixture

#1139 Add fixture 'briteq/beamspot1-dmx-fc'
  fixtures/briteq/beamspot1-dmx-fc.json
Labels: new-fixture, via-editor

#1177 Support embedding Facebook videos on fixture pages
  package-lock.json
  package.json
  ui/pages/_manufacturerKey/_fixtureKey.vue
Labels: component-ui, greenkeeper

#1178 Fix some more links
  fixtures/dts/xr1200-wash.json
  fixtures/dts/xr4-spot.json
  fixtures/flash-professional/led-moving-head-150w.json
  fixtures/flash-professional/led-par-64-cob-300w-rgbwauv.json
  fixtures/flash-professional/led-par-64-slim-7x10w-rgbw-mk2.json
  fixtures/ibiza-light/lp64-led-promo.json
  fixtures/lightmaxx/easy-wash-quad-led.json
  fixtures/magicfx/psyco2jet.json
  fixtures/magicfx/stage-flame.json
  fixtures/manufacturers.json
  fixtures/mdg/hazer-atmosphere-aps.json
  fixtures/prolights/v700spot.json
Labels: component-fixture

#1143 Add fixture 'eurolite/tmh-xb-130'
  fixtures/eurolite/tmh-xb-130.json
Labels: new-fixture, via-editor

#1186 Drop QLC+ 4.11.2 plugin
  plugins/plugins.json
  plugins/qlcplus_4.11.2/README.md
  plugins/qlcplus_4.11.2/export.js
  plugins/qlcplus_4.11.2/exportTests/xsd-schema-conformity.js
  plugins/qlcplus_4.11.2/plugin.json
  plugins/qlcplus_4.12.1/export.js
  plugins/qlcplus_4.12.1/plugin.json
Labels: component-plugin
