Repository OpenLightingProject/open-fixture-library, pull requests merged in 2021-06, with the labels that each got.

#1978 Fix some links
  fixtures/acoustic-control/par-180-cob-3in1.json
  fixtures/afx/lmh460z.json
  fixtures/beamz/pls25-par.json
  fixtures/cameo/instant-air-2000-pro.json
  fixtures/cameo/zenit-w600.json
  fixtures/chauvet-dj/slimpar-pro-w.json
  fixtures/chauvet-dj/slimpar-t12-bt.json
  fixtures/cinetec/par-18x15w-rgbwa.json
  fixtures/gantom/precision-dmx.json
  fixtures/griven/kolorado-4000.json
  fixtures/hazebase/base-hazer-pro.json
  fixtures/ibiza-light/lp64-led-promo.json
  fixtures/manufacturers.json
  fixtures/solaris/smart-36.json
  fixtures/sun-star/g-2011-nova.json
Labels: bug, component-fixture

#1980 Fix `null` error in `getAjvErrorMessages`
  lib/get-ajv-error-messages.js
  ui/api/routes/fixtures/submit.js
  ui/components/editor/EditorSubmitDialog.vue
Labels: bug, component-editor

#1971 Add fixture 'varytec/easy-move-xs-hp-wash-7x8w-rgbw'
  fixtures/varytec/easy-move-xs-hp-wash-7x8w-rgbw.json
Labels: new-fixture, via-editor

#1993 Prevent leading/trailing whitespace in fixture editor user input
  ui/components/PropertyInputNumber.vue
  ui/components/PropertyInputSelect.vue
  ui/components/PropertyInputText.vue
  ui/components/PropertyInputTextarea.vue
Labels: component-editor

#1905 Add fixture 'generic/4-channel-dimmer-pack'
  fixtures/generic/4-channel-dimmer-pack.json
  ui/components/HelpWantedDialog.vue
  ui/components/fixture-page/FixturePageMatrix.vue
Labels: component-ui, new-fixture, via-editor

#1994 Implement some best practices in frontend
  nuxt.config.js
  ui/assets/styles/fonts.scss
  ui/assets/styles/style.scss
  ui/components/ClimateStrikeBanner.vue
  ui/components/DownloadButton.vue
  ui/components/HelpWantedDialog.vue
  ui/components/ThemeSwitcher.vue
  ui/components/editor/EditorCapabilityWizard.vue
  ui/components/editor/EditorSubmitDialog.vue
  ui/components/fixture-page/FixturePage.vue
  ui/components/fixture-page/FixturePageCapabilityTable.vue
  ui/components/fixture-page/FixturePageMatrix.vue
  ui/components/fixture-page/FixturePageWheel.vue
  ui/pages/about/index.vue
  ui/pages/about/plugins/_plugin.vue
  ui/static/fonts/Inconsolata/Inconsolata-Bold.ttf
  ui/static/fonts/Inconsolata/Inconsolata-Regular.ttf
  ui/static/fonts/Inconsolata/Inconsolata-Regular.woff2
  ui/static/fonts/LatoLatin/LatoLatin-Bold.woff2
  ui/static/fonts/LatoLatin/LatoLatin-BoldItalic.woff2
  ui/static/fonts/LatoLatin/LatoLatin-Heavy.woff
  ui/static/fonts/LatoLatin/LatoLatin-Heavy.woff2
  ui/static/fonts/LatoLatin/LatoLatin-HeavyItalic.woff
  ui/static/fonts/LatoLatin/LatoLatin-HeavyItalic.woff2
  ui/static/fonts/LatoLatin/LatoLatin-Light.woff
  ui/static/fonts/LatoLatin/LatoLatin-LightItalic.woff
  ui/static/fonts/LatoLatin/LatoLatin-Regular.woff
  ui/static/fonts/LatoLatin/LatoLatin-RegularItalic.woff
  ui/static/fonts/LatoLatin/LatoLatin-Semibold.woff
  ui/static/fonts/LatoLatin/LatoLatin-Semibold.woff2
  ui/static/fonts/LatoLatin/LatoLatin-SemiboldItalic.woff
  ui/static/fonts/LatoLatin/LatoLatin-SemiboldItalic.woff2
Labels: component-ui

#1995 Fix `robots` meta tag being wrongly added on client side
  nuxt.config.js
Labels: bug, component-ui

#1996 Fix some links
  fixtures/ibiza-light/lp64-led-promo.json
  package.json
  tests/external-links.js
Labels: bug, component-fixture, component-test, dependencies

#1997 Improve JSON Schema errors
  lib/get-ajv-error-messages.js
Labels: bug, component-test

#1998 Simplify JSON Schemas
  lib/ajv-validator.js
  lib/schema-properties.js
  plugins/dragonframe/exportTests/json-schema-conformity.js
  plugins/millumin/exportTests/json-schema-conformity.js
  plugins/plugins.json
  schemas/capability.json
  schemas/channel.json
  schemas/definitions.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/gobo.json
  schemas/manufacturers.json
  schemas/matrix.json
  schemas/plugin.json
  schemas/wheel-slot.json
  ui/components/editor/EditorCapability.vue
  ui/components/editor/EditorCapabilityTypeData.vue
  ui/components/editor/EditorWheelSlot.vue
Labels: component-schema, refactoring

#1999 Fix Fixture Editor bugs
  ui/components/PropertyInputText.vue
  ui/components/PropertyInputTextarea.vue
  ui/components/editor/EditorProportionalPropertySwitcher.vue
Labels: bug, component-editor

#2000 Update package-lock.json
  README.md
  package-lock.json
  package.json
Labels: dependencies

#1903 Add fixture 'cameo/root-par-6'
  fixtures/cameo/root-par-6.json
Labels: new-fixture, via-editor

#2009 Add colors to cameo/root-par-6
  fixtures/cameo/root-par-6.json
Labels: component-fixture

#2010 Move JSON LD schema tags from HTML body to head
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/_manufacturerKey/index.vue
  ui/pages/index.vue
Labels: component-ui, refactoring
