Repository OpenLightingProject/open-fixture-library, pull requests merged in 2021-09, with the labels that each got.

#2093 Add colors to some fixtures
  fixtures/american-dj/dotz-par.json
  fixtures/arri/skypanel-s30c.json
  fixtures/contest/irledflat-5x12SIXb.json
  fixtures/eliminator/stealth-wash-zoom.json
  fixtures/eurolite/led-pix-12-hcl.json
  fixtures/robe/robin-viva-cmy.json
Labels: component-fixture

#2057 Add fixture 'showtec/phantom-25-led-wash'
  fixtures/showtec/phantom-25-led-wash.json
Labels: new-fixture, via-editor

#2107 Add fixture 'velleman/aeron-250-ii'
  fixtures/manufacturers.json
  fixtures/velleman/aeron-250-ii.json
Labels: new-fixture, via-editor

#2155 Fix some links and RDM IDs
  fixtures/fiilex/p3-color.json
  fixtures/ledj/slimline-12q5-rgbw.json
  fixtures/light-sky/aurora.json
  fixtures/look/cryofog.json
  fixtures/look/viper-nt.json
  fixtures/manufacturers.json
  fixtures/pr-lighting/xs-250-spot.json
  fixtures/qtx/lux-ld01.json
  fixtures/renkforce/gm107.json
  fixtures/showpro/litebar-h9.json
  fixtures/solaris/smart-36.json
Labels: bug, component-fixture

#2158 Join the global climate strike on 2021-09-24
  ui/components/ClimateStrikeBanner.vue
Labels: component-ui

#2101 Add fixture 'varytec/giga-bar-hex-3'
  fixtures/varytec/giga-bar-hex-3.json
Labels: new-fixture, via-editor

#2011 Add fixture 'generic/rgbwauv'
  fixtures/generic/rgbwauv-fader.json
Labels: new-fixture, via-editor

#2160 Update dependencies
  package-lock.json
  package.json
Labels: dependencies
