Repository OpenLightingProject/open-fixture-library, pull requests merged in 2021-01, with the labels that each got.

#1664 Fix typo in editor
  ui/components/editor/EditorMode.vue
Labels: bug, component-editor

#1665 Add Lighthouse CI workflows
  .github/lighthouserc.js
  .github/workflows/lighthouse-production.yaml
  .github/workflows/lighthouse-review.yaml
  main.js
  nuxt.config.js
Labels: component-test, component-ui

#1679 Add several LiteGear fixtures
  fixtures/litegear/litemat-plus-1.json
  fixtures/litegear/litemat-plus-2.json
  fixtures/litegear/litemat-plus-2l.json
  fixtures/litegear/litemat-plus-3.json
  fixtures/litegear/litemat-plus-4.json
  fixtures/litegear/litemat-plus-8.json
  fixtures/litegear/litetile-plus-4.json
  fixtures/litegear/litetile-plus-8.json
  fixtures/litegear/s2-litemat-1.json
  fixtures/litegear/s2-litemat-2.json
  fixtures/litegear/s2-litemat-2l.json
  fixtures/litegear/s2-litemat-3.json
  fixtures/litegear/s2-litemat-4.json
  fixtures/manufacturers.json
Labels: new-fixture

#1693 Fix some links
  fixtures/blizzard/rokbox-rgbw.json
  fixtures/evolight/colours-archspot-54-rgb.json
  fixtures/ignition/led-accu-par.json
  fixtures/kam/gobotracer.json
  fixtures/laserworld/cs-1000rgb.json
  fixtures/laserworld/ds-1000rgb.json
  fixtures/laserworld/shownet.json
  fixtures/manufacturers.json
Labels: component-fixture

#1706 Fix website URL issues
  nuxt.config.js
  ui/pages/_manufacturerKey/_fixtureKey.vue
  ui/pages/_manufacturerKey/index.vue
  ui/pages/index.vue
Labels: bug, component-ui

#1707 Prepare for Climate Strike on March 19
  ui/components/ClimateStrikeBanner.vue
Labels: component-ui
