Repository OpenLightingProject/open-fixture-library, pull requests merged in 2021-02, with the labels that each got.

#1724 Distinguish broken link status with different emojis
  tests/external-links.js
Labels: component-test

#1725 Fix emoji shortcodes
  tests/external-links.js
Labels: bug, component-test

#1720 Add fixture 'martin/rush-mh-5-profile'
  fixtures/martin/rush-mh-5-profile.json
Labels: new-fixture, via-editor

#1269 Add fixture 'jb-systems/irock-5c'
  fixtures/jb-systems/irock-5c.json
Labels: new-fixture, via-editor

#1736 Add 7 Hive Lighting fixtures
  fixtures/hive/bee-50-c.json
  fixtures/hive/bumble-bee-25-cx.json
  fixtures/hive/hornet-200-c.json
  fixtures/hive/hornet-200-cx.json
  fixtures/hive/super-hornet-575-c.json
  fixtures/hive/wasp-100-c.json
  fixtures/hive/wasp-100-cx.json
  fixtures/manufacturers.json
Labels: new-fixture

#1770 Fix some links
  fixtures/hive/bumble-bee-25-cx.json
  fixtures/hong-yi/hy-g60.json
  fixtures/ibiza-light/lp64-led-promo.json
  fixtures/laserworld/cs-1000rgb.json
  fixtures/laserworld/ds-1000rgb.json
  fixtures/laserworld/shownet.json
  fixtures/manufacturers.json
  fixtures/robe/colorspot-2500e-at.json
  fixtures/robe/dj-scan-250-xt.json
  fixtures/robe/robin-300e-wash.json
  fixtures/robe/robin-600e-spot.json
  fixtures/robe/robin-ledbeam-100.json
  fixtures/robe/robin-ledbeam-150.json
  fixtures/robe/robin-ledwash-600.json
  fixtures/robe/robin-parfect-150.json
  fixtures/robe/robin-viva-cmy.json
  fixtures/showpro/litebar-h9.json
  fixtures/soundlight/3204r-h.json
  tests/external-links.js
Labels: bug, component-fixture
