Repository OpenLightingProject/open-fixture-library, pull requests merged in 2021-07, with the labels that each got.

#1954 Add fixture 'tecshow/nebula-18'
  fixtures/manufacturers.json
  fixtures/tecshow/nebula-18.json
Labels: new-fixture, via-editor

#2033 Add fixture 'varytec/hero-wash-340fx-rgbw-zoom'
  fixtures/varytec/hero-wash-340fx-rgbw-zoom.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture, via-editor

#2039 Add link to initial setup docs from UI docs
  docs/ui.md
Labels: documentation

#2040 Lint
  .eslintrc.cjs
  plugins/gdtf/import.js
  plugins/millumin/export.js
  plugins/qlcplus_4.12.2/export.js
  plugins/qlcplus_4.12.2/import.js
  tests/fixture-valid.js
  tests/fixtures-valid.js
  tests/github/pull-request.js
  ui/api/routes/get-search-results.js
  ui/api/routes/manufacturers/_manufacturerKey.js
  ui/components/editor/EditorCapabilityWizard.vue
  ui/components/editor/EditorCategoryChooser.vue
  ui/components/editor/EditorChannelDialog.vue
  ui/pages/categories/_category.vue
  ui/pages/categories/index.vue
Labels: refactoring

#2046 Add fixture `stairville/mh-x60`
  fixtures/stairville/mh-x60.json
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: new-fixture

#2045 Add fixture 'stairville/revueled-120-cob-true-white'
  fixtures/stairville/revueled-120-cob-true-white.json
Labels: new-fixture, via-editor

#2047 Fix date of Stairville MH-X60
  fixtures/stairville/mh-x60.json
Labels: component-fixture

#2048 Update documentation
  .github/workflows/test.yaml
  README.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/environment-variables.md
  docs/ui.md
Labels: documentation

#2049 Simplify model cache with lazy-loading property pattern
  .eslintrc.cjs
  docs/fixture-model.md
  docs/model-api.md
  lib/cache-result.js
  lib/model/Capability.js
  lib/model/CoarseChannel.js
  lib/model/Entity.js
  lib/model/FineChannel.js
  lib/model/Fixture.js
  lib/model/Matrix.js
  lib/model/Mode.js
  lib/model/Resource.js
  lib/model/SwitchingChannel.js
  lib/model/TemplateChannel.js
  lib/model/Wheel.js
  lib/model/WheelSlot.js
  plugins/colorsource/export.js
  plugins/qlcplus_4.12.2/presets.js
Labels: component-model, refactoring
