Repository OpenLightingProject/open-fixture-library, pull requests merged in 2021-08, with the labels that each got.

#2017 Add fixture `fiilex/p3-color`
  fixtures/fiilex/p3-color.json
  fixtures/manufacturers.json
Labels: new-fixture

#2056 Add fixture 'lightmaxx/led-par-56'
  fixtures/lightmaxx/led-par-56.json
Labels: new-fixture, via-editor

#2006 Add fixture 'look/cryofog'
  fixtures/look/cryofog.json
Labels: new-fixture, via-editor

#2094 Add Burst as new shutter effect
  fixtures/cameo/auro-spot-100.json
  fixtures/cameo/auro-spot-200.json
  fixtures/cameo/auro-spot-300.json
  fixtures/cameo/auro-spot-400.json
  fixtures/cameo/root-par-6.json
  fixtures/cameo/zenit-w600.json
  fixtures/clf/hera.json
  fixtures/martin/mac-aura.json
  fixtures/martin/rush-mh-2-wash.json
  fixtures/tmb/solaris-flare.json
  lib/model/Capability.js
  plugins/plugins.json
  schemas/capability.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/gobo.json
  schemas/manufacturers.json
Labels: component-fixture, component-schema

#2086 Add fixture 'fovitec/600xb'
  fixtures/fovitec/600xb.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#2020 Add fixture 'litecraft/x21'
  fixtures/litecraft/washx-21.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor
