Repository OpenLightingProject/open-fixture-library, pull requests merged in 2022-06, with the labels that each got.

#2633 Add fixture 'eurolite/led-tl-3-rgb-uv'
  fixtures/eurolite/led-tl-3-rgb-uv.json
Labels: new-fixture, via-editor

#2651 Add 'ignition/teatro-led-spot-100' FR/PC fixtures
  fixtures/ignition/teatro-led-spot-100-fr.json
  fixtures/ignition/teatro-led-spot-100-pc.json
Labels: new-fixture, via-editor

#2648 Add fixture 'eurolite/led-tmh-14'
  fixtures/eurolite/led-tmh-14.json
Labels: new-fixture, via-editor

#2660 Implement feedback for fixture 'stairville/led-bar-240-8'
  fixtures/stairville/led-bar-240-8.json
Labels: component-fixture

#2682 Put hong-yi website in website key (not comment)
  fixtures/manufacturers.json
Labels: bug, component-fixture
