Repository OpenLightingProject/open-fixture-library, pull requests merged in 2022-09, with the labels that each got.

#2797 Update Node.js to v16
  .github/workflows/external-links-checker.yaml
  .github/workflows/lighthouse-review.yaml
  .github/workflows/test.yaml
  lib/site-crawler.js
  package-lock.json
  package.json
Labels: dependencies

#2798 Fix climate strike banner link
  ui/components/ClimateStrikeBanner.vue
Labels: component-ui

#2806 Fix some links
  fixtures/american-dj/12p-hex-ip.json
  fixtures/american-dj/fog-fury-jett-pro.json
  fixtures/astera/ax3-lightdrop.json
  fixtures/astera/fp1-titan-tube.json
  fixtures/astera/fp2-helios-tube.json
  fixtures/astera/fp3-hyperion-tube.json
  fixtures/astera/fp5-nyx-bulb.json
  fixtures/cameo/auro-beam-150.json
  fixtures/cameo/auro-spot-400.json
  fixtures/cameo/flat-par-can-rgb-10-ir.json
  fixtures/cameo/flat-par-can-tri-7x-3w-ir.json
  fixtures/cameo/instant-air-1000-pro.json
  fixtures/cameo/multi-fx-bar.json
  fixtures/cameo/multi-par-cob-1.json
  fixtures/dedolight/dled7-bi.json
  fixtures/kino-flo/celeb-250-led-dmx.json
  fixtures/kino-flo/celeb-450-led-dmx.json
  fixtures/kino-flo/celeb-led-201-dmx.json
  fixtures/manufacturers.json
  fixtures/renkforce/gm107.json
  fixtures/robe/spot-160-xt.json
  fixtures/skypix/ribalta-beam.json
  fixtures/studio-due/light-deflector.json
Labels: bug, component-fixture

#2730 Add Robe Robin T1 Profile fixture
  fixtures/robe/robin-t1-profile.json
Labels: new-fixture

#2816 Add Aputure LS fixtures
  fixtures/aputure/ls-1200d-pro.json
  fixtures/aputure/ls-600d-pro.json
  fixtures/aputure/ls-600d.json
  fixtures/aputure/ls-600x-pro.json
Labels: new-fixture
