Repository OpenLightingProject/open-fixture-library, pull requests merged in 2022-05, with the labels that each got.

#2595 Fix Rotation capabilities in `abstract/twister-4`
  fixtures/abstract/twister-4.json
Labels: component-fixture

#2599 Fix some links
  fixtures/american-dj/cob-cannon-wash.json
  fixtures/american-dj/fog-fury-jett-pro.json
  fixtures/american-dj/stinger-ii.json
  fixtures/ape-labs/lightcan.json
  fixtures/cinetec/par-18x15w-rgbwa.json
  fixtures/starway/servo-color-4k.json
  fixtures/starway/stickolor-1210uhd.json
  fixtures/ultratec/radiance-hazer.json
Labels: bug, component-fixture

#2588 Add fixture 'aputure/nova-p300c'
  fixtures/aputure/nova-p300c.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#2600 Add `aputure/ls-300x` fixture
  fixtures/aputure/ls-300x.json
Labels: new-fixture

#2501 Add fixture 'chauvet-dj/led-par-64-tri-b'
  fixtures/chauvet-dj/led-par-64-tri-b.json
Labels: new-fixture, via-editor

#2548 Add fixture 'american-dj/12p-hex-ip'
  fixtures/american-dj/12p-hex-ip.json
Labels: new-fixture, via-editor

#2582 Add fixture 'elation/zw19'
  fixtures/elation/zw19.json
Labels: new-fixture, via-editor

#2618 Fix a 301 on a link
  fixtures/kino-flo/celeb-led-201-dmx.json
  fixtures/kino-flo/celeb-led-250-dmx.json
  fixtures/kino-flo/celeb-led-450-dmx.json
  fixtures/manufacturers.json
Labels: bug, component-fixture

#2620 Use `concurrency` in GitHub Actions workflows
  .github/workflows/lighthouse-review.yaml
  .github/workflows/test.yaml
Labels: component-test

#2623 Improve Strobe channel in `eurolite/led-bar-3-hcl-bar` fixture
  fixtures/eurolite/led-bar-3-hcl-bar.json
Labels: component-fixture

#2624 New fixture: Eurolite LED Bar-12 QCL RGBA Bar
  fixtures/eurolite/led-bar-12-qcl-rgba-bar.json
Labels: new-fixture
