Repository OpenLightingProject/open-fixture-library, pull requests merged in 2022-10, with the labels that each got.

#2850 Add fixture 'Eurolite LED Bar-6 QCL RGBW'
  fixtures/eurolite/led-bar-6-qcl-rgbw.json
Labels: new-fixture

#2851 Add fixture 'Varytec Giga Bar Frost Pix 8 RGB'
  fixtures/varytec/giga-bar-frost-pix-8-rgb.json
Labels: new-fixture

#2855 Fix short links
  fixtures/eurolite/led-bar-6-qcl-rgbw.json
  fixtures/flash-professional/led-par-64-cob-300w-rgbwauv.json
  fixtures/varytec/giga-bar-frost-pix-8-rgb.json
Labels: bug, component-fixture

#2856 Fix links for 'Ayra TDC Triple Burst'
  fixtures/ayra/tdc-triple-burst.json
Labels: bug, component-fixture, hacktoberfest

#2812 Add fixture 'shehds/led-flat-par-18x18w'
  fixtures/shehds/led-flat-par-18x18w.json
Labels: new-fixture, via-editor

#2140 Add fixture 'chauvet-professional/vesuvio-rgba'
  fixtures/chauvet-professional/vesuvio-rgba.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#2739 Add fixture 'showtec/performer-2500'
  fixtures/showtec/performer-2500.json
Labels: new-fixture, via-editor

#1956 Add fixture 'cameo/ts60'
  fixtures/cameo/ts60.json
Labels: new-fixture, via-editor

#2845 Add fixture 'shehds/led-flat-par-54x3w'
  fixtures/shehds/led-flat-par-54x3w.json
Labels: new-fixture, via-editor

#2874 Add fixture 'eurolite/led-dmx-pixel-tube-16-rgb-ip20'
  fixtures/eurolite/led-dmx-pixel-tube-16-rgb-ip20.json
Labels: new-fixture, via-editor
