Repository OpenLightingProject/open-fixture-library, pull requests merged in 2022-02, with the labels that each got.

#2428 Ask for help with fixture reviews
  .eslintrc.cjs
  README.md
  docs/CONTRIBUTING.md
  ui/pages/index.vue
Labels: documentation, component-ui

#359 Add DMXControl 3 export plugin
  plugins/dmxcontrol3/ddf3-function-groups.js
  plugins/dmxcontrol3/ddf3-functions.js
  plugins/dmxcontrol3/export.js
  plugins/dmxcontrol3/exportTests/channel-numbers.js
  plugins/dmxcontrol3/plugin.json
  plugins/plugins.json
Labels: new-plugin

#2441 Add fixture 'ultratec/radiance-hazer'
  fixtures/manufacturers.json
  fixtures/ultratec/radiance-hazer.json
Labels: new-fixture, via-editor
