Repository OpenLightingProject/open-fixture-library, pull requests merged in 2022-03, with the labels that each got.

#2451 Parse JSON encoded bodies in download endpoints
  ui/api/download.js
Labels: bug, component-editor

#2453 Handle Warm/Cold White capabilities in DDF3 plugin correctly
  plugins/dmxcontrol3/ddf3-functions.js
  plugins/dmxcontrol3/export.js
  plugins/plugins.json
Labels: bug, component-plugin

#2452 Fix some links
  fixtures/afx/lmh460z.json
  fixtures/american-dj/encore-profile-1000-ww.json
  fixtures/arri/broadcaster-2-plus.json
  fixtures/elation/sixpar-100-ip.json
  fixtures/elation/sixpar-100.json
  fixtures/elation/sixpar-200-ip.json
  fixtures/elation/sixpar-200.json
  fixtures/elation/sixpar-300-ip.json
  fixtures/elation/sixpar-300.json
  fixtures/lightmaxx/easy-wash-quad-led.json
  fixtures/robe/robin-parfect-150.json
  fixtures/starway/stickolor-1210uhd.json
  plugins/dmxcontrol3/plugin.json
Labels: component-fixture

#2439 Add fixture 'stairville/matrixx-sc-100'
  fixtures/stairville/matrixx-sc-100.json
Labels: new-fixture, via-editor

#2458 Add fixture 'chauvet-professional/rogue-r1-wash'
  fixtures/chauvet-professional/rogue-r1-wash.json
Labels: new-fixture, via-editor

#2466 Install A11y ESLint plugin and fix reported issues
  .eslintrc.cjs
  package-lock.json
  package.json
  ui/assets/styles/style.scss
  ui/components/A11yDialog.vue
  ui/components/DownloadButton.vue
  ui/components/HeaderBar.vue
  ui/components/ThemeSwitcher.vue
  ui/components/editor/EditorCapability.vue
  ui/components/editor/EditorCapabilityTypeData.vue
  ui/components/editor/EditorChannelDialog.vue
  ui/components/editor/EditorLink.vue
  ui/components/editor/EditorMode.vue
  ui/components/editor/EditorProportionalPropertySwitcher.vue
  ui/components/editor/EditorWheelSlot.vue
  ui/components/fixture-page/FixturePageMatrix.vue
  ui/components/fixture-page/FixturePageMode.vue
  ui/components/fixture-page/FixturePageWheel.vue
  ui/components/global/OflSvg.vue
Labels: component-ui, refactoring

#2468 Implement fixture feedback
  fixtures/chauvet-professional/rogue-r1-wash.json
  fixtures/dts/xr4-spot.json
Labels: component-fixture

#2469 Fix editor reactivity
  ui/components/A11yDialog.vue
  ui/components/CategoryBadge.vue
  ui/components/PropertyInputEntity.vue
  ui/components/PropertyInputNumber.vue
  ui/components/PropertyInputSelect.vue
  ui/components/PropertyInputText.vue
  ui/components/PropertyInputTextarea.vue
  ui/components/editor/EditorCapability.vue
  ui/components/editor/EditorCapabilityWizard.vue
  ui/components/editor/EditorChannelDialog.vue
  ui/components/editor/EditorMode.vue
  ui/components/editor/EditorPhysical.vue
Labels: bug, component-editor

#2442 Add fixture 'uking/b117-par-can-4in1-rgbw-18-leds'
  fixtures/uking/b117-par-can-4in1-rgbw-18-leds.json
Labels: new-fixture, via-editor

#2180 Add fixture 'chauvet-dj/dmx-4'
  fixtures/chauvet-dj/dmx-4.json
Labels: new-fixture, via-editor

#2457 Add fixture 'martin/mx-10-extreme'
  fixtures/martin/mx-10-extreme.json
Labels: new-fixture, via-editor

#2484 Join the global climate strike on March 25th
  fixtures/martin/mx-10-extreme.json
  ui/components/ClimateStrikeBanner.vue
Labels: component-ui, component-fixture

#2483 Add fixture 'american-dj/inno-spot-pro'
  fixtures/american-dj/inno-spot-pro.json
Labels: new-fixture, via-editor

#2186 Add Stairville LED PAR 64 and LED PAR 56 fixtures
  fixtures/stairville/led-par-56.json
  fixtures/stairville/led-par-64.json
Labels: new-fixture, via-editor

#2487 Add `american-dj/flat-par-qa12` fixture
  fixtures/american-dj/flat-par-qa12.json
Labels: new-fixture

#2486 `american-dj/flat-par-qa12xs` improvements
  fixtures/american-dj/flat-par-qa12xs.json
Labels: component-fixture

#2495 Lint
  .eslintrc.cjs
  cli/import-fixture.js
  cli/run-export-test.js
  lib/create-github-pr.js
  lib/fixture-features/wheels.js
  lib/model/Capability.js
  lib/model/CoarseChannel.js
  lib/model/Matrix.js
  lib/model/TemplateChannel.js
  lib/model/WheelSlot.js
  lib/register.js
  package-lock.json
  package.json
  plugins/dmxcontrol3/export.js
  plugins/gdtf/import.js
  plugins/qlcplus_4.12.2/exportTests/fixture-tool-validation.js
  plugins/qlcplus_4.12.2/import.js
  tests/external-links.js
  tests/fixture-valid.js
  tests/github/export-diff.js
  tests/github/exports-valid.js
  ui/api/routes/fixtures/from-editor.js
  ui/api/routes/fixtures/import.js
Labels: refactoring

#2485 Add fixture 'american-dj/7p-hex-ip'
  fixtures/american-dj/7p-hex-ip.json
Labels: new-fixture, via-editor

#2492 Add fixture 'chauvet-dj/slimpar-pro-rgba'
  fixtures/chauvet-dj/slimpar-pro-rgba.json
Labels: new-fixture, via-editor

#2500 Add fixture 'american-dj/18p-hex-ip'
  fixtures/american-dj/18p-hex-ip.json
Labels: new-fixture, via-editor
