Repository OpenLightingProject/open-fixture-library, pull requests merged in 2023-07, with the labels that each got.

#3371 Add Fixture `lightmaxx/vega-bat-1`
  fixtures/lightmaxx/vega-bat-1.json
Labels: new-fixture

#3379 Add fixture `smoke-factory/tour-hazer-ii`
  fixtures/manufacturers.json
  fixtures/smoke-factory/tour-hazer-ii.json
Labels: new-fixture, via-editor

#3380 Fix `smoke-factory/tour-hazer-ii` capability
  fixtures/smoke-factory/tour-hazer-ii.json
Labels: component-fixture

#3381 Add fixture `smoke-factory/data-ii`
  fixtures/smoke-factory/data-ii.json
Labels: new-fixture, via-editor

#3384 Add fixture `chauvet-dj/hurricane-haze-1dx`
  fixtures/chauvet-dj/hurricane-haze-1dx.json
Labels: new-fixture, via-editor

#3387 Drop references to Heroku
  docs/ui.md
  server/nginx-site-available
  ui/api/index.js
Labels: documentation, component-server

#3359 Update `showven/sparkular` name and links
  fixtures/showven/sparkular.json
Labels: component-fixture

#3360 Update `showven/sparkular-fall` name and links
  fixtures/showven/sparkular-fall.json
Labels: component-fixture

#3401 Fix manual link for American DJ stinger II
  fixtures/american-dj/stinger-ii.json
Labels: component-fixture

#3403 Fix auto-suggestion and add more channels to `cameo/ts-60-w-rgbw`
  fixtures/cameo/ts-60-w-rgbw.json
Labels: component-fixture
