Repository OpenLightingProject/open-fixture-library, pull requests merged in 2023-02, with the labels that each got.

#3057 Implement fixture feedback
  fixtures/fun-generation/picospot-45-led.json
  fixtures/shehds/led-flat-par-7x18w-rgbwa-uv-light.json
Labels: component-fixture

#3059 Fix QLC+ fixture tool test
  plugins/qlcplus_4.12.2/exportTests/fixture-tool-validation.js
Labels: component-test

#3060 Fix some links
  fixtures/afx/lmh460z.json
  fixtures/american-dj/mega-hex-par.json
  fixtures/ayra/tdc-triple-burst.json
  fixtures/dedolight/dled7-bi.json
  fixtures/dmg-lumiere/maxi-mix.json
  fixtures/dmg-lumiere/mini-mix.json
  fixtures/dmg-lumiere/sl1-mix.json
  fixtures/hazebase/base-hazer-pro.json
  fixtures/manufacturers.json
  fixtures/starway/servo-color-4k.json
  fixtures/starway/stickolor-1210uhd.json
  ui/pages/about/index.vue
Labels: bug, component-ui, component-fixture

#3061 Bump nuxt to v2.16.0
  jsconfig.json
  nuxt.config.js
  package-lock.json
  package.json
Labels: component-ui, dependencies

#3064 Prepare global climate strike on 2023-03-03
  ui/components/ClimateStrikeBanner.vue
Labels: component-ui

#2669 Add fixture 'stairville/xbrick-full-colour'
  fixtures/stairville/xbrick-full-colour.json
Labels: new-fixture, via-editor

#3072 Fix broken link
  plugins/d-light/plugin.json
Labels: bug, component-plugin

#3074 Fix some fixture warnings
  fixtures/shehds/led-flat-par-12x3w-rgbw.json
  fixtures/shehds/led-spot-60w.json
Labels: component-fixture

#3080 Link to fixture in auto-generated feedback issues
  ui/api/routes/submit-feedback.js
Labels: component-ui

#3073 Improve automated pull requests and issues
  lib/create-github-pr.js
  ui/api/routes/submit-feedback.js
Labels: component-editor

#3111 Implement feedback for fixture `varytec/giga-bar-hex-3`
  fixtures/varytec/giga-bar-hex-3.json
Labels: component-fixture

#3112 Update links
  fixtures/chauvet-professional/colorado-1-solo.json
Labels: component-fixture
