Repository OpenLightingProject/open-fixture-library, pull requests merged in 2023-04, with the labels that each got.

#3156 Update `shehds/led-spot-60w`
  fixtures/shehds/led-spot-60w.json
Labels: component-fixture

#3211 Add U'King Mini Spider Fixture
  fixtures/uking/zq-b20-mini-spider-light.json
Labels: new-fixture

#3223 Fix deprecation warning
  .github/workflows/lighthouse-review.yaml
  server/redeploy.sh
Labels: component-test, component-ui, component-server

#3216 Add American DJ MOD HEX100 fixture
  fixtures/american-dj/mod-hex100.json
Labels: new-fixture

#3218 Add fixture `contest/irled64-18x12six`
  fixtures/contest/irled64-18x12six.json
Labels: new-fixture

#2952 Add fixture `american-dj/vizi-q-wash7`
  fixtures/american-dj/vizi-q-wash7.json
Labels: new-fixture, via-editor
