Repository OpenLightingProject/open-fixture-library, pull requests merged in 2023-06, with the labels that each got.

#3294 Remove links from GDTF plugin info
  plugins/gdtf/plugin.json
Labels: component-plugin

#3224 Add fixture `hsl/40w-beam-spot`
  fixtures/hsl/40w-beam-spot-light-rgbw.json
  fixtures/manufacturers.json
Labels: new-fixture

#3349 Update dependencies
  .stylelintrc.yaml
  package-lock.json
  package.json
  ui/assets/styles/style.scss
  ui/components/A11yDialog.vue
  ui/components/ClimateStrikeBanner.vue
  ui/components/DownloadButton.vue
  ui/components/FixtureHeader.vue
  ui/components/HeaderBar.vue
Labels: component-ui, dependencies

#3357 Add product page to `martin/mac-aura`
  fixtures/martin/mac-aura.json
Labels: component-fixture
