Repository OpenLightingProject/open-fixture-library, pull requests merged in 2023-10, with the labels that each got.

#3032 Add fixture `stairville/xbrick-quad-16x8w-rgbw`
  fixtures/stairville/xbrick-quad-16x8w-rgbw.json
Labels: new-fixture, via-editor

#3513 Fix speed capability in `chauvet-professional/rogue-r1-wash`
  fixtures/chauvet-professional/rogue-r1-wash.json
Labels: component-fixture

#3514 Fix some links
  fixtures/american-dj/encore-profile-1000-ww.json
  fixtures/american-dj/inno-pocket-beam-q4.json
  fixtures/american-dj/mega-bar-rgba.json
  fixtures/american-dj/mega-hex-par.json
  fixtures/american-dj/pocket-pro.json
  fixtures/american-dj/quad-phase-hp.json
  fixtures/american-dj/stinger-ii.json
  fixtures/american-dj/xs-400.json
  fixtures/cameo/auro-spot-400.json
  fixtures/elation/proteus-hybrid.json
  fixtures/lightmaxx/easy-wash-quad-led.json
  fixtures/manufacturers.json
  fixtures/smoke-factory/data-ii.json
  ui/pages/about/index.vue
Labels: component-ui, component-fixture

#3143 Add fixture `desisti/softled-4-vw`
  fixtures/desisti/softled-4-vw.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#3142 Add fixture `desisti/softled-8-vw`
  fixtures/desisti/softled-8-vw.json
Labels: new-fixture, via-editor

#3029 Add fixture `lightmaxx/cls-nano-cob`
  fixtures/lightmaxx/cls-nano-cob.json
Labels: new-fixture, via-editor

#3150 Add fixture `showtec/explorer-250-wash-pro`
  fixtures/showtec/explorer-250-wash-pro.json
Labels: new-fixture, via-editor

#2960 Add fixture `galaxis/g-flame`
  fixtures/galaxis/g-flame.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#3530 Fix external links parser
  tests/external-links.js
Labels: bug, component-test

#3441 Add fixture `chauvet-professional/colordash-s-par-1`
  fixtures/chauvet-professional/colordash-s-par-1.json
Labels: new-fixture, via-editor

#3524 Bump Node.js to v20
  .github/workflows/external-links-checker.yaml
  .github/workflows/lighthouse-review.yaml
  .github/workflows/test.yaml
  lib/site-crawler.js
  package-lock.json
  package.json
Labels: dependencies

#3547 Only run daily lighthouse check on the main repo
  .github/workflows/lighthouse-production.yaml
Labels: component-test

#3548 Add fixture `showtec/accent-spot-q4-rgbw`
  fixtures/showtec/accent-spot-q4-rgbw.json
Labels: new-fixture

#3549 Prepare Vue 3 migration
  .eslintrc.cjs
  ui/components/A11yDialog.vue
  ui/components/CategoryBadge.vue
  ui/components/ChannelTypeIcon.vue
  ui/components/ConditionalDetails.vue
  ui/components/HeaderBar.vue
  ui/components/HelpWantedDialog.vue
  ui/components/HelpWantedMessage.vue
  ui/components/LabeledValue.vue
  ui/components/PropertyInputBoolean.vue
  ui/components/PropertyInputDimensions.vue
  ui/components/PropertyInputEntity.vue
  ui/components/PropertyInputNumber.vue
  ui/components/PropertyInputRange.vue
  ui/components/PropertyInputSelect.vue
  ui/components/PropertyInputText.vue
  ui/components/PropertyInputTextarea.vue
  ui/components/editor/EditorCapability.vue
  ui/components/editor/EditorCapabilityTypeData.vue
  ui/components/editor/EditorCapabilityWizard.vue
  ui/components/editor/EditorCategoryChooser.vue
  ui/components/editor/EditorChannelDialog.vue
  ui/components/editor/EditorFileUpload.vue
  ui/components/editor/EditorLink.vue
  ui/components/editor/EditorLinks.vue
  ui/components/editor/EditorMode.vue
  ui/components/editor/EditorPhysical.vue
  ui/components/editor/EditorRestoreDialog.vue
  ui/components/editor/EditorSubmitDialog.vue
  ui/components/editor/EditorWheelSlot.vue
  ui/components/fixture-page/FixturePage.vue
  ui/components/fixture-page/FixturePageCapabilityTable.vue
  ui/components/fixture-page/FixturePageChannel.vue
  ui/components/fixture-page/FixturePageMode.vue
  ui/components/global/OflTime.vue
  ui/pages/fixture-editor.vue
Labels: refactoring

#3551 Fix links
  fixtures/eurolite/led-z-200-tcl.json
  fixtures/hazebase/base-hazer-pro.json
  fixtures/lightmaxx/easy-wash-quad-led.json
  fixtures/magicfx/psyco2jet.json
  fixtures/magicfx/smokejet.json
  fixtures/magicfx/stage-flame.json
  fixtures/velleman/aeron-250-ii.json
Labels: component-fixture

#3552 Add fixture `mega-lite/washbot-led-cmky-300`
  fixtures/manufacturers.json
  fixtures/mega-lite/washbot-led-cymk-300.json
Labels: new-fixture, hacktoberfest

#3554 Add Fixture `mega-lite/spotbot-cmy-300`
  fixtures/mega-lite/spotbot-led-cmy-300.json
Labels: new-fixture, hacktoberfest

#3555 Exclude wayback machine URLs in link checker
  tests/external-links.js
Labels: component-test

#3567 Fix some links
  fixtures/blizzard/rokbox-rgbw.json
  fixtures/clay-paky/sharpy.json
Labels: component-fixture

#3568 Remove broken product link
  fixtures/uking/mini-led-spot-25w.json
Labels: component-fixture

#3572 Drop vue2-smooth-scroll dependency
  nuxt.config.js
  package-lock.json
  package.json
  ui/pages/manufacturers.vue
  ui/plugins/vue-smooth-scroll.js
Labels: component-ui, refactoring

#3531 Add Lupo fixtures
  fixtures/lupo/actionpanel-dual-color.json
  fixtures/lupo/actionpanel-full-color.json
  fixtures/lupo/superpanel-dual-color-60.json
  fixtures/lupo/superpanel-full-color-60.json
  fixtures/lupo/superpanelpro-dual-color-30.json
  fixtures/lupo/superpanelpro-full-color-30.json
  fixtures/lupo/ultrapanel-dual-color-60.json
  fixtures/lupo/ultrapanel-full-color-60.json
  fixtures/lupo/ultrapanelpro-dual-color-30.json
  fixtures/lupo/ultrapanelpro-full-color-30.json
  fixtures/manufacturers.json
Labels: new-fixture

#2894 Add fixture `cameo/hydrabeam-400-rgbw`
  fixtures/cameo/hydrabeam-400-rgbw.json
Labels: new-fixture

#3574 Fix GDTF fine channel parsing
  fixtures/cameo/hydrabeam-400-rgbw.json
  plugins/gdtf/import.js
Labels: bug, component-plugin
