Repository OpenLightingProject/open-fixture-library, pull requests merged in 2023-11, with the labels that each got.

#3603 Add links to `gruft` fixtures
  fixtures/gruft/pixel-tube.json
  fixtures/gruft/ventilator.json
Labels: component-fixture

#3622 Add/restore fine channel related fixture features
  lib/fixture-features/16bit-dmx-value-resolution.js
  lib/fixture-features/fine-channels.js
  tests/test-fixtures.json
  tests/test-fixtures.md
Labels: component-test

#3623 Fix entities in capability types docs
  docs/capability-types.md
Labels: documentation

#3621 Narrow down RDM ID range in schema
  plugins/plugins.json
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/gobo.json
  schemas/manufacturers.json
Labels: component-schema

#3634 Document shutter effect `Burst`
  docs/capability-types.md
Labels: documentation
