Repository OpenLightingProject/open-fixture-library, pull requests merged in 2023-05, with the labels that each got.

#3214 Add Bitfocus Companion Integration Fixture
  fixtures/bitfocus/companion-v2.json
  fixtures/manufacturers.json
Labels: new-fixture

#1397 Add fixture `showtec/led-blinder-2-cob`
  fixtures/showtec/led-blinder-2-cob.json
Labels: new-fixture, via-editor

#3268 Update ESLint dependencies
  .eslintrc.cjs
  lib/create-github-pr.js
  lib/fixture-json-stringify.js
  lib/get-ajv-error-messages.js
  lib/model.js
  lib/model/Resource.js
  lib/model/WheelSlot.js
  lib/site-crawler.js
  package-lock.json
  package.json
  plugins/colorsource/export.js
  plugins/d-light/export.js
  plugins/dmxcontrol3/ddf3-functions.js
  plugins/dmxcontrol3/export.js
  plugins/ecue/import.js
  plugins/gdtf/import.js
  plugins/qlcplus_4.12.2/export.js
  plugins/qlcplus_4.12.2/import.js
  plugins/qlcplus_4.12.2/presets.js
  tests/dmx-value-scaling.js
  tests/external-links.js
  tests/github/export-diff.js
  tests/github/pull-request.js
  tests/http-status.js
  ui/api/routes/fixtures/from-editor.js
  ui/components/DownloadButton.vue
  ui/components/PropertyInputEntity.vue
  ui/components/editor/EditorCapabilityWizard.vue
  ui/components/editor/EditorWheelSlots.vue
  ui/components/global/OflSvg.vue
  ui/pages/categories/_category.vue
Labels: dependencies, refactoring

#3283 Update some fixtures' author name
  docs/fixture-format.md
  fixtures/american-dj/mega-tripar-profile.json
  fixtures/american-dj/mod-hex100.json
  fixtures/bitfocus/companion-v2.json
  fixtures/contest/irled64-18x12six.json
  fixtures/eurolite/led-z-200-tcl.json
  fixtures/generic/rgbwauv-fader.json
  fixtures/showtec/performer-2500.json
  fixtures/uking/zq-b20-mini-spider-light.json
Labels: component-fixture
