Repository OpenLightingProject/open-fixture-library, pull requests merged in 2024-03, with the labels that each got.

#3829 Add better links to UKing B262
  fixtures/uking/par-light-b262.json
Labels: component-fixture

#3830 Use emoji instead of GitHub's short codes
  docs/capability-types.md
  lib/create-github-pr.js
  tests/external-links.js
  tests/github/export-diff.js
  tests/github/exports-valid.js
Labels: refactoring

#3814 Add fixture `stairville/remus-hexspot-515`
  fixtures/stairville/remus-hexspot-515.json
Labels: new-fixture, via-editor

#3825 Add fixture `ayra/compar-20`
  fixtures/ayra/compar-20.json
Labels: new-fixture, via-editor

#3831 Add `RJ45` DMX connector
  plugins/plugins.json
  plugins/qlcplus_4.12.2/export.js
  schemas/fixture-redirect.json
  schemas/fixture.json
  schemas/gobo.json
  schemas/manufacturers.json
Labels: component-schema

#3824 Add fixture `etc/source-4wrd-color-ii`
  fixtures/etc/source-4wrd-color-ii.json
Labels: new-fixture, via-editor
