Repository OpenLightingProject/open-fixture-library, pull requests merged in 2024-04, with the labels that each got.

#3887 Fix regex not capturing emoji
  tests/external-links.js
Labels: bug, component-test

#3892 Replace fovitec.com links
  fixtures/fovitec/600xb.json
  fixtures/manufacturers.json
Labels: component-fixture

#3897 Add fixture `stairville/clb5-6p-rgb-ww-compact-led-bar`
  fixtures/stairville/clb5-6p-rgb-ww-compact-led-bar.json
Labels: new-fixture
