Repository OpenLightingProject/open-fixture-library, pull requests merged in 2024-10, with the labels that each got.

#4277 Improve fixture `cameo/flat-par-can-rgb-10-ir`
  fixtures/cameo/flat-par-can-rgb-10-ir.json
Labels: component-fixture

#4265 Improve fixture `stairville/mh-x20`
  fixtures/stairville/mh-x20.json
Labels: component-fixture

#4280 Add fixture `stairville/hz-200-compact-hazer`
  fixtures/stairville/hz-200-compact-hazer.json
Labels: new-fixture, via-editor

#4223 Add fixture `stairville/mh-x20`
  fixtures/stairville/mh-x20.json
Labels: new-fixture, via-editor

#4282 Improve fixture `showtec/dim-4lc`
  fixtures/showtec/dim-4lc.json
Labels: component-fixture

#4275 Add fixture `showtec/dim-4lc`
  fixtures/showtec/dim-4lc.json
Labels: new-fixture, via-editor

#4285 Improve fixture `eurolite/md-2030`
  fixtures/eurolite/md-2030.json
Labels: component-fixture

#4281 Improve fixture `eurolite/edx-4`
  fixtures/eurolite/edx-4.json
Labels: component-fixture

#4276 Add fixture `eurolite/md-2030`
  fixtures/eurolite/md-2030.json
Labels: new-fixture, via-editor

#4287 Fix matrix pixel highlighting
  ui/components/LabeledValue.vue
Labels: component-ui

#4274 Add fixture `eurolite/edx-4`
  fixtures/eurolite/edx-4.json
Labels: new-fixture, via-editor

#4305 Add Markdown link check to External Links Checker job
  .github/workflows/external-links-checker.yaml
Labels: component-test

#4300 Add fixture `mega-lite/mw1`
  fixtures/mega-lite/mw1.json
Labels: new-fixture

#4309 Fix IP65 DmxConnector mapping in QLC+ export
  plugins/plugins.json
  plugins/qlcplus_4.12.2/export.js
Labels: component-plugin

#4286 Improve fixture `tomshine/3-led-par-light-rgbuv`
  fixtures/tomshine/3-led-par-light-rgbuv.json
Labels: component-fixture

#4288 Improve fixture `cameo/ts-100-ww`
  fixtures/cameo/ts-100-ww.json
Labels: component-fixture

#4290 Improve fixture `cameo/q-spot-40-cw`
  fixtures/cameo/q-spot-40-cw.json
Labels: component-fixture

#4192 Add fixture `cameo/ts-100-ww`
  fixtures/cameo/ts-100-ww.json
Labels: new-fixture, via-editor

#4198 Add fixture `cameo/q-spot-40-cw`
  fixtures/cameo/q-spot-40-cw.json
Labels: new-fixture, via-editor

#4289 Improve fixture `stairville/wild-wash-648-led-white-dmx`
  fixtures/stairville/wild-wash-648-led-white-dmx.json
Labels: component-fixture

#4278 Add fixture `stairville/wild-wash-648-led-white-dmx`
  fixtures/stairville/wild-wash-648-led-white-dmx.json
Labels: new-fixture, via-editor

#4311 Link to issues list rather than legacy project board
  docs/CONTRIBUTING.md
Labels: documentation

#4308 Add validation for StrobeSpeed in same channel as ShutterStrobe
  fixtures/chauvet-professional/colorado-1-solo.json
  tests/fixture-valid.js
Labels: component-test, component-fixture

#4222 Add dev container support
  .devcontainer/devcontainer.json
  cli/debug-env-variables.js
  docs/README.md
  eslint.config.js
  lib/site-crawler.js
Labels: documentation

#4283 Improve fixture `laserworld/el-400rgb-mk2`
  fixtures/laserworld/el-400rgb-mk2.json
Labels: component-fixture

#4262 Add fixture `laserworld/el-400rgb-mk2`
  fixtures/laserworld/el-400rgb-mk2.json
Labels: new-fixture, via-editor

#4319 Improve fixture `stairville/wild-wash-132-led-rgb-dmx`
  fixtures/stairville/wild-wash-132-led-rgb-dmx.json
Labels: component-fixture

#4318 Improve `stairville/wild-wash-648-led-white-dmx` manual link
  fixtures/stairville/wild-wash-648-led-white-dmx.json
Labels: component-fixture

#2448 Add fixture `stairville/wild-wash-132-led-rgb`
  fixtures/stairville/wild-wash-132-led-rgb-dmx.json
Labels: new-fixture, via-editor

#4317 Add fixture `mega-lite/framebot-600`
  fixtures/mega-lite/framebot-600.json
Labels: new-fixture

#4326 Use `color.channel` Sass function
  .stylelintrc.yaml
  nuxt.config.js
  package-lock.json
  ui/assets/styles/theming.scss
Labels: refactoring
