Repository OpenLightingProject/open-fixture-library, pull requests merged in 2024-11, with the labels that each got.

#4410 Add fixture `light4me/led-par-18x3w-uv`
  fixtures/light4me/led-par-18x3w-uv.json
  fixtures/manufacturers.json
Labels: new-fixture, via-editor

#4416 Revert "Bump color-name-list from 10.28.1 to 11.0.0"
  package-lock.json
  package.json
  plugins/aglight/export.js
  plugins/ecue/import.js
Labels: bug

#4340 Add fixture `cameo/ts-200-fc`
  fixtures/cameo/ts-200-fc.json
Labels: new-fixture

#4431 Added some missing starville productPage links and
  fixtures/stairville/af-250.json
  fixtures/stairville/clb5-2p-rgb-ww-compact-led-par.json
  fixtures/stairville/led-flood-panel-150.json
  fixtures/stairville/mh-100.json
  fixtures/stairville/octagon-theater-20x6w-cw-ww-a.json
  fixtures/stairville/par-56.json
  fixtures/stairville/revueled-120-cob-rgbww.json
  fixtures/stairville/stage-tri-led.json
  fixtures/stairville/wild-wash-132-led-rgb-dmx.json
  fixtures/stairville/wild-wash-648-led-white-dmx.json
  fixtures/stairville/xbrick-full-colour.json
Labels: component-fixture

#4432 Fixing some broken links
  fixtures/american-dj/12p-hex-ip.json
  fixtures/american-dj/7p-hex-ip.json
  fixtures/big-dipper/ls90.json
  fixtures/elation/sixpar-100-ip.json
  fixtures/elation/sixpar-200-ip.json
  fixtures/elation/sixpar-300-ip.json
  fixtures/manufacturers.json
  fixtures/studio-due/light-deflector.json
Labels: component-fixture

#4429 Updated broken and adding missing eurolite fixture links
  fixtures/eurolite/led-b-40.json
  fixtures/eurolite/led-bar-6-qcl-rgbw.json
  fixtures/eurolite/led-big-party-spot.json
  fixtures/eurolite/led-big-party-tcl-spot.json
  fixtures/eurolite/led-fe-1500.json
  fixtures/eurolite/led-h2o.json
  fixtures/eurolite/led-kls-801.json
  fixtures/eurolite/led-par-56-tcl.json
  fixtures/eurolite/led-party-spot.json
  fixtures/eurolite/led-party-tcl-spot.json
  fixtures/eurolite/led-pix-144.json
  fixtures/eurolite/led-ps-4-hcl.json
  fixtures/eurolite/led-sls-6-uv-floor.json
  fixtures/eurolite/led-svf-1.json
  fixtures/eurolite/led-tha-100f.json
  fixtures/eurolite/led-tmh-18.json
  fixtures/eurolite/led-tmh-7.json
  fixtures/eurolite/led-tmh-9.json
  fixtures/eurolite/led-tmh-x12.json
  fixtures/eurolite/led-tmh-x25.json
Labels: component-fixture

#4095 Add fixture `eurolite/led-theatre-cob-200-rgb-ww`
  fixtures/eurolite/led-theatre-cob-200-rgb-ww.json
Labels: new-fixture, via-editor
