Repository OpenLightingProject/open-fixture-library, pull requests merged in 2024-05, with the labels that each got.

#3942 Add fixture `ikan/stryder-sfb150`
  fixtures/ikan/stryder-sfb150.json
  fixtures/manufacturers.json
Labels: new-fixture

#3936 Apply feedback for `lixada/mini-gobo-moving-head-light`
  fixtures/lixada/mini-gobo-moving-head-light.json
Labels: component-fixture

#1495 Add fixture `briteq/beam-fury-1`
  fixtures/briteq/beam-fury-1.json
Labels: new-fixture, via-editor

#3946 Add fixture `generic/color-temperature-fader`
  fixtures/generic/color-temperature-fader.json
Labels: new-fixture, via-editor

#3969 Catch errors when exporting multiple fixtures
  plugins/aglight/export.js
  plugins/color-chief/export.js
  plugins/colorsource/export.js
  plugins/d-light/export.js
  plugins/dmxcontrol3/export.js
  plugins/dragonframe/export.js
  plugins/ecue/export.js
  plugins/millumin/export.js
  plugins/ofl/export.js
  plugins/qlcplus_4.12.2/export.js
Labels: component-plugin

#3983 Fix various links
  fixtures/briteq/beam-fury-1.json
  fixtures/manufacturers.json
  fixtures/mega-lite/spotbot-led-cmy-300.json
Labels: component-fixture
