Repository OpenLightingProject/open-fixture-library, pull requests merged in 2024-09, with the labels that each got.

#4208 Fix #3665: Cameo TS 200 FC: editor pull request changes
  fixtures/cameo/ts-200-fc.json
Labels: component-fixture

#4196 Add fixture american-dj/uv-eco-bar review changes
  fixtures/american-dj/uv-eco-bar.json
Labels: component-fixture

#4190 Add fixture `american-dj/uv-eco-bar`
  fixtures/american-dj/uv-eco-bar.json
Labels: new-fixture, via-editor

#4217 Remove windows-build-tools from README.md
  docs/README.md
Labels: documentation

#4214 Add fixture `american-dj/encore-lp12z-ip`
  fixtures/american-dj/encore-lp12z-ip.json
Labels: new-fixture

#3821 Add fixture `chauvet-dj/hurricane-1600`
  fixtures/chauvet-dj/hurricane-1600.json
Labels: new-fixture, via-editor

#4209 Add fixture `fun-generation/led-pot-12x1w-qcl-rgb-ww-40`
  fixtures/fun-generation/led-pot-12x1w-qcl-rgb-ww-40.json
Labels: new-fixture

#4264 Fix `Strobe` channel for CLPFLAT1TRI3WIR
  fixtures/cameo/flat-par-can-tri-7x-3w-ir.json
Labels: component-fixture

#4269 Add fixture `fun-generation/led-pot-12x1w-qcl-rgb-ww-15`
  fixtures/fun-generation/led-pot-12x1w-qcl-rgb-ww-15.json
Labels: new-fixture
