Repository OpenLightingProject/open-fixture-library, pull requests merged in 2024-08, with the labels that each got.

#4159 Lint updates
  .eslintrc.cjs
  .stylelintrc.yaml
  lib/model.js
  lib/model/CoarseChannel.js
  lib/model/Mode.js
  package-lock.json
  package.json
  plugins/aglight/export.js
  plugins/dmxcontrol3/ddf3-function-groups.js
  plugins/ecue/import.js
  plugins/gdtf/import.js
  plugins/qlcplus_4.12.2/presets.js
  server/webhook.js
  ui/api/routes/manufacturers/_manufacturerKey.js
  ui/components/CapabilityTypeIcon.vue
  ui/components/editor/EditorCapabilityWizard.vue
  ui/components/editor/EditorChannelDialog.vue
  ui/components/global/OflSvg.vue
  ui/pages/fixture-editor.vue
Labels: refactoring

#4161 Fix QLC+ import for channels without capabilities
  plugins/qlcplus_4.12.2/import.js
Labels: bug, component-plugin

#4162 Fix DMXControl 3 export with Burst shutter effect
  plugins/dmxcontrol3/ddf3-functions.js
Labels: bug, component-plugin

#4163 Update plugin versions
  plugins/dmxcontrol3/export.js
  plugins/plugins.json
  plugins/qlcplus_4.12.2/import.js
Labels: component-plugin

#3976 Fix strobe channels in `cameo/root-par-6` fixture
  fixtures/cameo/root-par-6.json
Labels: component-fixture

#4165 Update Mozilla HTTP Observatory URL
  README.md
Labels: documentation
